@use 'bulma/bulma' as bulma;

.button {
    border-radius: 0;
}

.algo-button {
    font-size: 0.8rem;
}

body.dark :host .is-primary {
    color: bulma.$dark !important;
    background-color: bulma.$primary !important;
}

.outline {
    border: 2px bulma.$light solid;
}

body.dark :host .outline {
    border: 2px hsl(0, 1%, 34%) solid;
}

pre > code {
    white-space: pre;
    margin-top: -1em;
    display: block;
}

input[type="radio"] {
  appearance: none;
  margin: 0;
  font: inherit;
  color: #1a0707;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid bulma.$dark;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65EM;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em bulma.$primary;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}
