<div class="columns is-multiline p-1">
  <div class="column is-12">
    <p class="menu-label has-text-centered">
      <b>Algorithms</b>
    </p>
    <aside class="columns is-multiline is-gapless">
      <div class="column is-one-third">
        <button class="button algo-button is-outlined is-fullwidth">
          <b>Prim's</b>
        </button>
      </div>
      <div class="column is-one-third">
        <button class="button algo-button is-outlined is-fullwidth">
          <b>Kruskal's</b>
        </button>
      </div>
      <div class="column is-one-third">
        <button class="button algo-button is-outlined is-fullwidth">
          <b>Recursive-Backtracker</b>
        </button>
      </div>
      <div class="column is-one-third">
        <button class="button algo-button is-outlined is-fullwidth">
          <b>Aldous-Broder</b>
        </button>
      </div>
      <div class="column is-one-third">
        <button class="button algo-button is-outlined is-fullwidth">
          <b>Growing Tree</b>
        </button>
      </div>
      <div class="column is-one-third">
        <button class="button algo-button is-outlined is-fullwidth">
          <b>Hunt and Kill</b>
        </button>
      </div>
      <div class="column is-one-third">
        <button class="button algo-button is-outlined is-fullwidth">
          <b>Wilson's</b>
        </button>
      </div>
      <div class="column is-one-third">
        <button class="button algo-button is-outlined is-fullwidth">
          <b>Eller's</b>
        </button>
      </div>
      <div class="column is-one-third">
        <button class="button algo-button is-outlined is-fullwidth">
          <b>Cellular Automation</b>
        </button>
      </div>
      <div class="column is-one-third">
        <button class="button algo-button is-outlined is-fullwidth">
          <b>Recursive Division</b>
        </button>
      </div>
      <div class="column is-one-third">
        <button class="button algo-button is-outlined is-fullwidth">
          <b>Sidewinder</b>
        </button>
      </div>
      <div class="column is-one-third">
        <button class="button algo-button is-outlined is-fullwidth">
          <b>Binary Tree</b>
        </button>
      </div>
    </aside>
  </div>
  <div class="column is-full">
    <p class="menu-label has-text-centered">
      <b>Options</b>
    </p>
  </div>
  <div class="column is-full">
    <p class="menu-label has-text-centered">
      <b>Pseudo Code</b>
    </p>
  </div>
</div>
