<div class="columns is-multiline">
    <div class="column is-12 pb-0">
        <p class="menu-label has-text-centered">
            <b>Algorithms</b>
        </p>
        <aside class="columns box p-0 is-multiline is-gapless">
            <div class="column is-one-third">
                <button
                    class="button algo-button is-fullwidth"
                    [ngClass]="algorithmService.getAlgorithmName() === 'Prims' ? 'is-primary' : ''"
                    (click)="handleWarning('Prims')">
                    <b>Prim's</b>
                </button>
            </div>
            <div class="column is-one-third">
                <button
                    class="button algo-button is-fullwidth"
                    [ngClass]="algorithmService.getAlgorithmName() === 'Kruskals' ? 'is-primary' : ''"
                    disabled
                    (click)="handleWarning('Kruskals')">
                    <b>Kruskal's</b>
                </button>
            </div>
            <div class="column is-one-third">
                <button
                    class="button algo-button is-fullwidth"
                    [ngClass]="algorithmService.getAlgorithmName() === 'Aldous-Broder' ? 'is-primary' : ''"
                    (click)="handleWarning('Aldous-Broder')">
                    <b>Aldous-Broder</b>
                </button>
            </div>
            <div class="column is-one-third">
                <button
                    class="button algo-button is-fullwidth"
                    [ngClass]="algorithmService.getAlgorithmName() === 'Wilsons' ? 'is-primary' : ''"
                    (click)="handleWarning('Wilsons')">
                    <b>Wilson's</b>
                </button>
            </div>
            <div class="column is-one-third">
                <button
                    class="button algo-button is-fullwidth"
                    [ngClass]="algorithmService.getAlgorithmName() === 'Ellers' ? 'is-primary' : ''"
                    disabled
                    (click)="handleWarning('Ellers')">
                    <b>Eller's</b>
                </button>
            </div>
            <div class="column is-one-third">
                <button
                    class="button algo-button is-fullwidth"
                    [ngClass]="algorithmService.getAlgorithmName() === 'Sidewinder' ? 'is-primary' : ''"
                    disabled
                    (click)="handleWarning('Sidewinder')">
                    <b>Sidewinder</b>
                </button>
            </div>
            <div class="column is-one-third">
                <button
                    class="button algo-button is-fullwidth"
                    [ngClass]="algorithmService.getAlgorithmName() === 'Hunt-and-Kill' ? 'is-primary' : ''"
                    (click)="handleWarning('Hunt-and-Kill')">
                    <b>Hunt and Kill</b>
                </button>
            </div>
            <div class="column is-one-third">
                <button
                    class="button algo-button is-fullwidth"
                    [ngClass]="algorithmService.getAlgorithmName() === 'Growing-Tree' ? 'is-primary' : ''"
                    disabled
                    (click)="handleWarning('Growing-Tree')">
                    <b>Growing Tree</b>
                </button>
            </div>
            <div class="column is-one-third">
                <button
                    class="button algo-button is-fullwidth"
                    [ngClass]="algorithmService.getAlgorithmName() === 'Binary-Tree' ? 'is-primary' : ''"
                    disabled
                    (click)="handleWarning('Binary-Tree')">
                    <b>Binary Tree</b>
                </button>
            </div>
            <div class="column is-half">
                <button
                    class="button algo-button is-fullwidth"
                    [ngClass]="algorithmService.getAlgorithmName() === 'Recursive-Backtracking' ? 'is-primary' : ''"
                    (click)="handleWarning('Recursive-Backtracking')">
                    <b>Recursive-Backtracking</b>
                </button>
            </div>
            <div class="column is-half">
                <button
                    class="button algo-button is-fullwidth"
                    [ngClass]="algorithmService.getAlgorithmName() === 'Recursive-Division' ? 'is-primary' : ''"
                    disabled
                    (click)="handleWarning('Recursive-Division')">
                    <b>Recursive Division</b>
                </button>
            </div>
            <div class="column is-full">
                <button
                    class="button algo-button is-fullwidth"
                    [ngClass]="algorithmService.getAlgorithmName() === 'Cellular-Automation' ? 'is-primary' : ''"
                    disabled
                    (click)="handleWarning('Cellular-Automation')">
                    <b>Cellular Automation</b>
                </button>
            </div>
        </aside>
    </div>
    <div class="column is-full pb-0">
        <p class="menu-label has-text-centered">
            <b>Maze solving algorithms</b>
        </p>
        <aside class="columns box p-0 is-multiline is-gapless">
            <div class="column is-one-third">
                <button
                    class="button algo-button is-fullwidth"
                    [ngClass]="algorithmService.getAlgorithmName() === 'Wall-Follower' ? 'is-primary' : ''"
                    disabled
                    (click)="handleWarning('Wall-Follower')">
                    <b>Wall-Follower</b>
                </button>
            </div>
            <div class="column is-one-third">
                <button
                    class="button algo-button is-fullwidth"
                    [ngClass]="algorithmService.getAlgorithmName() === 'Pledge' ? 'is-primary' : ''"
                    disabled
                    (click)="handleWarning('Pledge')">
                    <b>Pledge</b>
                </button>
            </div>
            <div class="column is-one-third">
                <button
                    class="button algo-button is-fullwidth"
                    [ngClass]="algorithmService.getAlgorithmName() === 'Trémaux' ? 'is-primary' : ''"
                    disabled
                    (click)="handleWarning('Trémaux')">
                    <b>Trémaux's</b>
                </button>
            </div>
            <div class="column is-one-third">
                <button
                    class="button algo-button is-fullwidth"
                    [ngClass]="algorithmService.getAlgorithmName() === 'Recursive' ? 'is-primary' : ''"
                    disabled
                    (click)="handleWarning('Recursive')">
                    <b>Recursive</b>
                </button>
            </div>
            <div class="column is-one-third">
                <button
                    class="button algo-button is-fullwidth"
                    [ngClass]="algorithmService.getAlgorithmName() === 'Maze-Routing' ? 'is-primary' : ''"
                    disabled
                    (click)="handleWarning('Maze-Routing')">
                    <b>Maze-Routing</b>
                </button>
            </div>
            <div class="column is-one-third">
                <button
                    class="button algo-button is-fullwidth"
                    [ngClass]="algorithmService.getAlgorithmName() === 'Dead-End-Filling' ? 'is-primary' : ''"
                    disabled
                    (click)="handleWarning('Dead-End-Filling')">
                    <b>Dead-End Filling</b>
                </button>
            </div>
        </aside>
    </div>
    <app-hr class="column is-full py-0" *ngIf="handleJsonFormData().controls.length > 0"></app-hr>
    <div class="column pt-1 is-full" *ngIf="handleJsonFormData().controls.length > 0">
        <p class="menu-label has-text-centered">
            <b>Algorithm Options</b>
        </p>
        <form [formGroup]="optionsForm">
            <fieldset
                *ngFor="let control of handleJsonFormData()?.controls"
                (click)="setAlgorithmOptions()"
                class="columns is-multiline is-gapless mb-0">
                <div *ngIf="control?.type === 'checkbox'" class="column is-12 control">
                    <label class="checkbox">
                        <input type="checkbox" [formControlName]="control.name" [value]="control.value" />
                        {{ control.name }}
                    </label>
                </div>
                <ng-container *ngIf="control?.type === 'radio'">
                    <div *ngFor="let value of control?.values" class="column is-12 control is-size-8">
                        <label class="radio">
                            <input
                                type="radio"
                                appDisableControl
                                [disableControl]="recordService.getIteration() > 0"
                                [formControlName]="control.name"
                                [value]="value"
                                [checked]="value" />
                            {{ value }}
                        </label>
                    </div>
                </ng-container>
            </fieldset>
        </form>
    </div>
</div>
