.button {
    border-radius: 0;
}

body.theme-dark :host .button {
    outline: 1px solid var(--white-dark-87);
}

body.theme-dark :host .is-primary {
    color: var(--bulma-dark) !important;
    background-color: var(--bulma-primary) !important;
}

.outline {
    border: 2px var(--bulma-light) solid;
}

body.theme-dark :host .outline {
    border: 2px hsl(0, 1%, 34%) solid;
}
