body.theme-dark :host .modal-card-head,
body.theme-dark :host .modal-card-body,
body.theme-dark :host .modal-card-foot {
    background-color: var(--bulma-dark);
    box-shadow: var(--dark-mode-shadow);
    border: none;
}

.modal-card-head {
    border-bottom: 1px solid var(--bulma-grey-lighter);
}

.textarea {
    font-family: inherit;
}

.modal-card-foot {
    border-top: 1px solid var(--bulma-grey-lighter);
}
