<p class="menu-label is-size-7 mt-21 mb-2 has-text-centered">
    <b>Algorithms</b>
</p>
<div class="fixed-grid has-6-cols p-0 m-0 gap-0">
    <div class="grid is-gapless">
        <div class="cell is-row-start-1 is-col-span-2">
            <button
                class="button is-small is-responsive is-fullwidth"
                data-testid="a-star"
                [ngClass]="algorithmService.getAlgorithmName() === 'A-Star' ? 'is-danger has-text-black' : ''"
                (click)="handleWarning('A-Star')">
                <b>A-Star</b>
            </button>
        </div>
        <div class="cell is-row-start-1 is-col-span-2">
            <button
                class="button is-small is-responsive is-fullwidth"
                data-testid="ida-star"
                disabled
                [ngClass]="algorithmService.getAlgorithmName() === 'IDA-Star' ? 'is-danger has-text-black' : ''"
                (click)="handleWarning('IDA-Star')">
                <b>IDA-Star</b>
            </button>
        </div>
        <div class="cell is-row-start-1 is-col-span-2">
            <button
                class="button is-small is-responsive is-fullwidth"
                data-testid="dijkstra"
                [ngClass]="algorithmService.getAlgorithmName() === 'Dijkstra' ? 'is-danger has-text-black' : ''"
                (click)="handleWarning('Dijkstra')">
                <b>Dijkstra</b>
            </button>
        </div>
        <div class="cell is-row-start-2 is-col-span-3">
            <button
                class="button is-small is-responsive is-fullwidth"
                data-testid="breadth-first-search"
                [ngClass]="algorithmService.getAlgorithmName() === 'Breadth-FS' ? 'is-danger has-text-black' : ''"
                (click)="handleWarning('Breadth-FS')">
                <b>Breadth-First-Search</b>
            </button>
        </div>
        <div class="cell is-row-start-2 is-col-span-3">
            <button
                class="button is-small is-responsive is-fullwidth"
                data-testid="depth-first-search"
                [ngClass]="algorithmService.getAlgorithmName() === 'Depth-FS' ? 'is-danger has-text-black' : ''"
                (click)="handleWarning('Depth-FS')">
                <b>Depth-First-Search</b>
            </button>
        </div>
        <div class="cell is-row-start-3 is-col-span-3">
            <button
                class="button is-small is-responsive is-fullwidth"
                data-testid="best-first-search"
                [ngClass]="algorithmService.getAlgorithmName() === 'Best-FS' ? 'is-danger has-text-black' : ''"
                (click)="handleWarning('Best-FS')">
                <b>Best-First-Search</b>
            </button>
        </div>
        <div class="cell is-row-start-3 is-col-span-3">
            <button
                class="button is-small is-responsive is-fullwidth"
                data-testid="jump-point-search"
                [ngClass]="algorithmService.getAlgorithmName() === 'Jump-PS' ? 'is-danger has-text-black' : ''"
                disabled
                (click)="handleWarning('Jump-PS')">
                <b>Jump Point Search</b>
            </button>
        </div>
        <div class="cell is-row-start-4 is-col-span-6">
            <button
                class="button is-small is-responsive is-fullwidth"
                data-testid="orthogonal-jump-point-search"
                [ngClass]="algorithmService.getAlgorithmName() === 'Orthogonal-Jump-PS' ? 'is-danger has-text-black' : ''"
                disabled
                (click)="handleWarning('Orthogonal-Jump-PS')">
                <b>Orthogonal Jump Point Search</b>
            </button>
        </div>
    </div>
</div>
<p class="menu-label is-size-7 my-2 has-text-centered">
    <b>Maze solving algorithms</b>
</p>
<div class="fixed-grid has-6-cols p-0 m-0 gap-0">
    <div class="grid is-gapless">
        <div class="cell is-row-start-1 is-col-span-2">
            <button
                class="button is-small is-responsive is-fullwidth"
                data-testid="wall-follower"
                [ngClass]="algorithmService.getAlgorithmName() === 'Wall-Follower' ? 'is-danger has-text-black' : ''"
                (click)="handleWarning('Wall-Follower')">
                <b>Wall-Follower</b>
            </button>
        </div>
        <div class="cell is-row-start-1 is-col-span-2">
            <button
                class="button is-small is-responsive is-fullwidth"
                data-testid="pledge"
                [ngClass]="algorithmService.getAlgorithmName() === 'Pledge' ? 'is-danger has-text-black' : ''"
                (click)="handleWarning('Pledge')">
                <b>Pledge</b>
            </button>
        </div>
        <div class="cell is-row-start-1 is-col-span-2">
            <button
                class="button is-small is-responsive is-fullwidth"
                data-testid="tremauxs"
                [ngClass]="algorithmService.getAlgorithmName() === 'Trémaux' ? 'is-danger has-text-black' : ''"
                (click)="handleWarning('Trémaux')">
                <b>Trémaux's</b>
            </button>
        </div>
        <div class="cell is-row-start-2 is-col-span-3">
            <button
                class="button is-small is-responsive is-fullwidth is-flex-grow-1"
                data-testid="maze-routing"
                [ngClass]="algorithmService.getAlgorithmName() === 'Maze-Routing' ? 'is-danger has-text-black' : ''"
                (click)="handleWarning('Maze-Routing')">
                <b>Maze-Routing</b>
            </button>
        </div>
        <div class="cell is-row-start-2 is-col-span-3">
            <button
                class="button is-small is-responsive is-fullwidth"
                data-testid="dead-end-filling"
                [ngClass]="algorithmService.getAlgorithmName() === 'Dead-End-Filling' ? 'is-danger has-text-black' : ''"
                (click)="handleWarning('Dead-End-Filling')">
                <b>Dead-End Filling</b>
            </button>
        </div>
    </div>
</div>

<p class="menu-label is-size-7 my-2 has-text-centered">
    <b>Heuristics</b>
</p>
<div class="grid is-gapless">
    <div class="buttons has-addons is-centered">
        <button
            class="button is-small is-responsive"
            data-testid="manhattan"
            [disabled]="algorithmService.getCurrentHeuristic() === 'None' || recordService.getIteration() > 0"
            [ngClass]="algorithmService.getCurrentHeuristic() === 'Manhattan' ? 'is-danger has-text-black' : ''"
            (click)="algorithmService.setHeuristic('Manhattan')">
            <b>Manhattan</b>
        </button>
        <button
            class="button is-small is-responsive"
            data-testid="euclidean"
            [disabled]="algorithmService.getCurrentHeuristic() === 'None'|| recordService.getIteration() > 0"
            [ngClass]="algorithmService.getCurrentHeuristic() === 'Euclidean' ? 'is-danger has-text-black' : ''"
            (click)="algorithmService.setHeuristic('Euclidean')">
            <b>Euclidean</b>
        </button>
        <button
            class="button is-small is-responsive"
            data-testid="octile"
            [disabled]="algorithmService.getCurrentHeuristic() === 'None' || recordService.getIteration() > 0"
            [ngClass]="algorithmService.getCurrentHeuristic() === 'Octile' ? 'is-danger has-text-black' : ''"
            (click)="algorithmService.setHeuristic('Octile')">
            <b>Octile</b>
        </button>
        <button
            class="button is-small is-responsive"
            data-testid="chebhyshev"
            [disabled]="algorithmService.getCurrentHeuristic() === 'None' || recordService.getIteration() > 0"
            [ngClass]="algorithmService.getCurrentHeuristic() === 'Chebyshev' ? 'is-danger has-text-black' : ''"
            (click)="algorithmService.setHeuristic('Chebyshev')">
            <b>Chebyshev</b>
        </button>
    </div>
</div>
<app-algorithm-options></app-algorithm-options>
<app-hr [text]="'PATHFINDING SETTINGS'"></app-hr>
<div class="column is-full mt-0 pt-0 is-align-self-flex-end" style="min-height: 0">
    <form>
        <fieldset class="columns is-multiline is-gapless">
            <div class="column is-12 control">
                <label
                    class="checkbox form-text-size active-color-danger"
                    [ngClass]="recordService.getIteration() > 0 || !algorithmService.usesPathFindingSettings() ? 'is-not-allowed' : ''">
                    <input
                        type="checkbox"
                        [disabled]="recordService.getIteration() > 0 || !algorithmService.usesPathFindingSettings()"
                        [value]="algorithmService.getDiagonalMovement()"
                        (change)="handleDiagonalMovement($event)" />
                    Diagonal movement
                </label>
            </div>
            <div class="column is-12 control">
                <label
                    class="checkbox form-text-size active-color-danger"
                    [ngClass]="recordService.getIteration() > 0 || !algorithmService.usesPathFindingSettings() ? 'is-not-allowed' : ''">
                    <input
                        type="checkbox"
                        [disabled]="recordService.getIteration() > 0 || !algorithmService.usesPathFindingSettings()"
                        (change)="handleCornerMovement($event)"
                        [value]="algorithmService.getCornerMovement()" />
                    Corner movement
                </label>
            </div>
        </fieldset>
    </form>
</div>
