body.theme-dark :host .is-danger {
    background-color: var(--bulma-danger) !important;
}

body.theme-dark :host .button {
    outline: 1px solid var(--white-dark-87);
}

.button {
    border-radius: 0;
}
