<div class="modal is-active">
    <div class="modal-background" (click)="warningDialog.closeDialog('cancel')"></div>
    <div class="modal-card">
        <header class="modal-card-head has-background-warning">
            <p class="modal-card-title">
                <label class="p-1">
                    <span class="title is-size-6-mobile">Doing this will partially reset the grid</span>
                </label>
            </p>
            <button class="delete" (click)="warningDialog.closeDialog('cancel')" aria-label="close"></button>
        </header>

        <footer class="modal-card-foot">
            <div class="buttons is-centered">
                <button class="button is-success" (click)="warningDialog.closeDialog('continue')">
                    <span class="icon is-small">
                        <fa-icon [icon]="['fas', 'check-square']"></fa-icon>
                    </span>
                    <span>Confirm</span>
                </button>
                <button class="button" (click)="warningDialog.closeDialog('cancel')">
                    <span class="icon is-small">
                        <fa-icon [icon]="['fas', 'window-close']"></fa-icon>
                    </span>
                    <span>Cancel</span>
                </button>
            </div>
        </footer>
    </div>
</div>
