<h1 class="title">Amazeing</h1>
<h2 class="subtitle">Implementation of John Conway's Game of Life built with
  Angular, bulma and Fontawesome. </h2>
<hr>
<div class="content">
  <h3>
    <b>Note:</b>
    this is a near direct port of <a href="https://github.com/Ijee/Game-of-Life-Vue"
                                     target="_blank"
                                     rel="noopener">my other project</a>
    with some significant code changes made while running the same visually based on the vue js version.
    <br>
  </h3>
  <div class="block">
    <span class="icon-text">
      <span class="icon">
         <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
      </span>
      <span class="title is-5">About the game</span>
    </span>
  </div>
  <div class="block">
    <p>
      Created in 1970, John Horton Conway made this well known game also known
      as 'Life'. The game is automated and based on 4 rules that determine
      the status of all cells inside the grid. A cell can either be 'alive' or
      'dead'. Every turn (tick) rules get applied to all cells that are
      currently alive. Further Information can be found <a
      href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life"
      target="_blank"
      rel="noopener">here</a>.
    </p>
  </div>
  <div class="block">
    <span class="icon-text">
      <span class="icon">
         <fa-icon [icon]="['fas', 'pencil-ruler']"></fa-icon>
      </span>
      <span class="title is-5">The rules</span>
    </span>
  </div>
  <div class="block">
    <ol>
      <li> Any live cell with fewer than two live neighbours dies,
        as if by <strong>under population</strong></li>
      <li>Any live cell with two or three neighbours lives on
        to the next generation
      </li>
      <li>Any live cell with more than three live neighbours dies,
        as if by <strong>overpopulation</strong></li>
      <li>Any dead cell with exactly three live neighbours becomes
        a live cell, as if by <strong>reproduction</strong></li>
    </ol>
  </div>
  <div class="block">
    <span class="icon-text">
      <span class="icon">
         <fa-icon [icon]="['fas', 'share']"></fa-icon>
      </span>
      <span class="title is-5">Share</span>
    </span>
  </div>
  <div class="block">
    If you found an interesting pattern you can send or save the current
    one easily with the 'Export' button. There are also some pre-defined
    scenarios on the dropdown menu when you click on 'Import'
  </div>
</div>
