<div class="columns is-align-content-start is-multiline">
    <div class="column is-12">
        <div class="box">
            <h1 class="title">
                <span class="icon mr-3">
                    <fa-icon [icon]="['fas', 'chalkboard-teacher']"></fa-icon>
                </span>
                Learn
            </h1>
            <h2 class="subtitle has-text-centered">This project aims to visualize various algorithms to create or traverse mazes.</h2>
            <app-hr text="CHOOSE ALGORITHM"></app-hr>
            <div class="columns is-gapless">
                <div class="column is-half">
                    <div class="buttons is-centered mb-1">
                        <button class="button is-primary is-light is-active">Prim's</button>
                        <button class="button is-primary is-light">Kruskal's</button>
                        <button class="button is-primary is-light">Aldous-Broder</button>
                        <button class="button is-primary is-light">Wilson's</button>
                        <button class="button is-primary is-light">Eller's</button>
                        <button class="button is-primary is-light">Sidewinder</button>
                        <button class="button is-primary is-light">Hunt and Kill</button>
                        <button class="button is-primary is-light">Growing Tree</button>
                        <button class="button is-primary is-light">Binary Tree</button>
                        <button class="button is-primary is-light">Recursive-Backtracker</button>
                        <button class="button is-primary is-light">Recursive-Division</button>
                        <button class="button is-primary is-light">Cellular Automation</button>
                    </div>
                    <div class="buttons is-centered mb-1">
                        <button class="button is-primary is-light">Wall Follower</button>
                        <button class="button is-primary is-light">Pledge</button>
                        <button class="button is-primary is-light">Tremaux's</button>
                        <button class="button is-primary is-light">Recursive</button>
                        <button class="button is-primary is-light">Maze-Routing</button>
                        <button class="button is-primary is-light">Dead-End Filling</button>
                    </div>
                </div>
                <div class="column is-half">
                    <div class="buttons is-centered mb-1">
                        <button class="button is-danger is-light">A*</button>
                        <button class="button is-danger is-light">IDA*</button>
                        <button class="button is-danger is-light">Dijkstra</button>
                        <button class="button is-danger is-light">Breadth-First-Search</button>
                        <button class="button is-danger is-light">Depth-First-Search</button>
                        <button class="button is-danger is-light">Best-First-Search</button>
                        <button class="button is-danger is-light">Trace</button>
                        <button class="button is-danger is-light">Jump Point Search</button>
                        <button class="button is-danger is-light">Orthogonal Jump Point Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-12">
        <div class="box">
            <app-learn-prims></app-learn-prims>
        </div>
    </div>
</div>
