<div class="columns is-multiline is-align-items-stretch">
    <div class="column is-12 is-flex-grow-1">
        <div class="box">
            <h1 class="ml-2 title">
                <span class="icon mr-3">
                    <fa-icon [icon]="['fas', 'chalkboard-teacher']"></fa-icon>
                </span>
                Learn
            </h1>
            <h2 class="subtitle has-text-centered">
                This project aims to visualize various algorithms to create or traverse mazes.
            </h2>
            <app-hr text="CHOOSE ALGORITHM"></app-hr>
            <div class="columns is-gapless">
                <div class="column is-half">
                    <div class="buttons maze-buttons is-centered mb-1">
                        <button
                            class="button custom-button is-primary"
                            [class.is-light]="algorithmSelection() !== 'Prims'"
                            (click)="algorithmSelection.set('Prims')">
                            Prim's
                        </button>
                        <button
                            class="button custom-button is-primary"
                            [class.is-light]="algorithmSelection() !== 'Kruskals'"
                            (click)="algorithmSelection.set('Kruskals')">
                            Kruskals
                        </button>
                        <button
                            class="button custom-button is-primary"
                            [class.is-light]="algorithmSelection() !== 'Aldous-Broder'"
                            (click)="algorithmSelection.set('Aldous-Broder')">
                            Aldous-Broder
                        </button>
                        <button
                            class="button custom-button is-primary"
                            [class.is-light]="algorithmSelection() !== 'Wilsons'"
                            (click)="algorithmSelection.set('Wilsons')">
                            Wilson's
                        </button>
                        <button
                            class="button custom-button is-primary"
                            [class.is-light]="algorithmSelection() !== 'Ellers'"
                            (click)="algorithmSelection.set('Ellers')">
                            Eller's
                        </button>
                        <button
                            class="button custom-button is-primary"
                            [class.is-light]="algorithmSelection() !== 'Sidewinder'"
                            (click)="algorithmSelection.set('Sidewinder')">
                            Sidewinder
                        </button>
                        <button
                            class="button custom-button is-primary"
                            [class.is-light]="algorithmSelection() !== 'Hunt-and-Kill'"
                            (click)="algorithmSelection.set('Hunt-and-Kill')">
                            Hunt and Kill
                        </button>
                        <button
                            class="button custom-button is-primary"
                            [class.is-light]="algorithmSelection() !== 'Growing-Tree'"
                            (click)="algorithmSelection.set('Growing-Tree')">
                            Growing Tree
                        </button>
                        <button
                            class="button custom-button is-primary"
                            [class.is-light]="algorithmSelection() !== 'Binary-Tree'"
                            (click)="algorithmSelection.set('Binary-Tree')">
                            Binary Tree
                        </button>
                        <button
                            class="button custom-button is-primary"
                            [class.is-light]="algorithmSelection() !== 'Recursive-Backtracking'"
                            (click)="algorithmSelection.set('Recursive-Backtracking')">
                            Recursive-Backtracking
                        </button>
                        <button
                            class="button custom-button is-primary"
                            [class.is-light]="algorithmSelection() !== 'Recursive-Division'"
                            (click)="algorithmSelection.set('Recursive-Division')">
                            Recursive-Division
                        </button>
                        <button
                            class="button custom-button is-primary"
                            [class.is-light]="algorithmSelection() !== 'Cellular-Automaton'"
                            (click)="algorithmSelection.set('Cellular-Automaton')">
                            Cellular Automaton
                        </button>
                    </div>
                </div>
                <div class="column is-half">
                    <div class="buttons pathfinding-buttons is-centered mb-1">
                        <button
                            class="button custom-button is-danger"
                            [class.is-light]="algorithmSelection() !== 'A-Star'"
                            (click)="algorithmSelection.set('A-Star')">
                            A*
                        </button>
                        <button
                            class="button custom-button is-danger"
                            [class.is-light]="algorithmSelection() !== 'IDA-Star'"
                            (click)="algorithmSelection.set('IDA-Star')">
                            IDA*
                        </button>
                        <button
                            class="button custom-button is-danger"
                            [class.is-light]="algorithmSelection() !== 'Dijkstra'"
                            (click)="algorithmSelection.set('Dijkstra')">
                            Dijkstra
                        </button>
                        <button
                            class="button custom-button is-danger"
                            [class.is-light]="algorithmSelection() !== 'Breadth-FS'"
                            (click)="algorithmSelection.set('Breadth-FS')">
                            Breadth-First-Search
                        </button>
                        <button
                            class="button custom-button is-danger"
                            [class.is-light]="algorithmSelection() !== 'Depth-FS'"
                            (click)="algorithmSelection.set('Depth-FS')">
                            Depth-First-Search
                        </button>
                        <button
                            class="button custom-button is-danger"
                            [class.is-light]="algorithmSelection() !== 'Best-FS'"
                            (click)="algorithmSelection.set('Best-FS')">
                            Best-First-Search
                        </button>
                        <button
                            class="button custom-button is-danger"
                            (click)="algorithmSelection.set('Jump-PS')"
                            [class.is-light]="algorithmSelection() !== 'Jump-PS'">
                            Jump Point Search
                        </button>
                        <button
                            class="button custom-button is-danger"
                            [class.is-light]="algorithmSelection() !== 'Orthogonal-Jump-PS'"
                            (click)="algorithmSelection.set('Orthogonal-Jump-PS')">
                            Orthogonal Jump Point Search
                        </button>
                    </div>
                    <div class="buttons pathfinding-buttons is-centered pt-2 mb-1">
                        <button
                            class="button custom-button is-danger"
                            [class.is-light]="algorithmSelection() !== 'Wall-Follower'"
                            (click)="algorithmSelection.set('Wall-Follower')">
                            Wall Follower
                        </button>
                        <button
                            class="button custom-button is-danger"
                            [class.is-light]="algorithmSelection() !== 'Pledge'"
                            (click)="algorithmSelection.set('Pledge')">
                            Pledge
                        </button>
                        <button
                            class="button custom-button is-danger"
                            [class.is-light]="algorithmSelection() !== 'Trémaux'"
                            (click)="algorithmSelection.set('Trémaux')">
                            Tremaux's
                        </button>
                        <button
                            class="button custom-button is-danger"
                            [class.is-light]="algorithmSelection() !== 'Dead-End-Filling'"
                            (click)="algorithmSelection.set('Dead-End-Filling')">
                            Dead-End Filling
                        </button>
                    </div>
                </div>
            </div>
        </div>
        @if (false) {
        <article class="message is-warning">
            <div class="message-header">
                <p>No content yet</p>
                <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body" style="text-wrap: balance">
                I am sorry but this page isn't ready to be used yet. It probably shouldn't be accessible for the time
                being but here we are.<br />
                It will have a short overview of every algorithm that can be used on the simulation page with links to
                additional ressources as well as the pseudo code.<br />
                This is obviously not meant to replace Wikipedia, etc.
            </div>
        </article>
        }
    </div>

    <div class="column is-12 is-flex-grow-1">
        <div class="box">
            <app-article-renderer [content]="content"></app-article-renderer>
        </div>
    </div>
</div>
