<div class="modal" [@modalAnimation]="showLegend" [ngClass]="showLegend ? 'is-active' : 'inactive'">
  <div class="modal-background" (click)="showLegend = false"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">
        <span class="icon">
          <fa-icon [icon]="['fas', 'asterisk']"></fa-icon>
        </span>
        <span>
        Legend
        </span>
      </p>
      <button class="delete" aria-label="close" (click)="showLegend = false"></button>
    </header>
    <section class="modal-card-body">
      <div class="content">
        <div class="columns is-multiline is-gapless">
          <div class="column is-full">
            <b>If you didn't select to use custom weights each node will have a weight of <i>1</i></b>
          </div>
          <div class="column is-half">
            <app-hr text="General Nodes"></app-hr>
          </div>
          <div class="column is-half">
            <app-hr text="Maze-solving specific"></app-hr>
          </div>
          <div class="column is-half">
            <table class="table has-text-centered">
              <thead>
              <tr>
                <th>Icon</th>
                <th>Meaning</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
              <span class="icon start-icon">
                <fa-icon [icon]="['fas', 'square-full']"></fa-icon>
              </span>
                <td>Start</td>
              </tr>
              <tr>
                <td>
              <span class="icon goal-icon">
                <fa-icon [icon]="['fas', 'square-full']"></fa-icon>
              </span>
                <td>Goal</td>
              </tr>
              <tr>
                <td>
              <span class="icon wall-icon">
                <fa-icon [icon]="['fas', 'square-full']"></fa-icon>
              </span>
                <td>Wall</td>
              </tr>
              <tr>
                <td>
              <span class="icon node-discovered">
                <fa-icon [icon]="['fas', 'square-full']"></fa-icon>
              </span>
                <td>Node discovered</td>
              </tr>
              <tr>
                <td>
              <span class="icon node-fastest">
                <fa-icon [icon]="['fas', 'square-full']"></fa-icon>
              </span>
                <td>Fastest path</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="column is-half">
            <table class="table has-text-centered">
              <thead>
              <tr>
                <th>Icon</th>
                <th>Meaning</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
              <span class="icon start-icon">
                <fa-icon [icon]="['fas', 'square-full']"></fa-icon>
              </span>
                <td>Marked</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="showLegend = false">
         <span class="icon is-small">
            <fa-icon [icon]="['fas', 'thumbs-up']"></fa-icon>
        </span>
        <span>Understood</span>
      </button>
    </footer>
  </div>
</div>
