body.theme-dark :host .modal.is-active {
    // TODO not working
    box-shadow: var(--dark-mode-shadow);
}

body.theme-dark :host .modal-card-head,
body.theme-dark :host .modal-card-body,
body.theme-dark :host .modal-card-foot {
    background-color: var(--bulma-dark);
}

body.theme-dark :host .table {
    background-color: inherit;
}

.modal-card-head {
    border-bottom: 1px solid var(--bulma-grey-lighter);
    box-shadow: none;
}

.start-icon {
    color: var(--bulma-primary);
}

.goal-icon {
    color: var(--bulma-danger);
}

.status-1 {
    color: var(--bulma-grey-dark);
}

.status-4 {
    color: var(--node-4);
    // background-color: #f99a6d;
}

.status-5 {
    color: var(--node-5);
}

.status-6 {
    color: var(--node-6);
}

.status-7 {
    color: var(--node-7);
}

.status-8 {
    color: var(--node-8);
}

.status-9 {
    color: var(--node-8);
}
