body.theme-dark :host .modal-card-head,
body.theme-dark :host .modal-card-body {
    background-color: var(--bulma-dark);
    box-shadow: var(--dark-mode-shadow);
    border: none;
}

body.theme-dark :host .table {
    background-color: inherit;
}

.modal-card-head {
    border-bottom: 1px solid var(--bulma-grey-lighter);
    box-shadow: none;
}

.modal-card-body {
    border-end-start-radius: var(--bulma-modal-card-head-radius);
    border-end-end-radius: var(--bulma-modal-card-head-radius);
}

.start-icon {
    color: var(--bulma-primary);
}

.goal-icon {
    color: var(--bulma-danger);
}

.status-1 {
    color: var(--bulma-grey-dark);
}

.status-4 {
    color: var(--node-4);
    // background-color: #f99a6d;
}

.status-5 {
    color: var(--node-5);
}

.status-6 {
    color: var(--node-6);
}

.status-7 {
    color: var(--node-7);
}

.status-8 {
    color: var(--node-8);
}

.status-9 {
    color: var(--node-8);
}
