
// Node colors
$node-4: #6089ec; // tbd
$node-5: #eb9486; // node in
$node-6: #56b35f; // tbd
$node-7: #724cf9; // tbd
$node-8: #f4dd52; // fastest path
$node-9: #a3a3a3; // to track something without it needing to be visible

