@use "bulma/sass/utilities";
/* Class assigned to popover wrapper */

body.dark .driver-popover {
    color: var(--bulma-white-ter);
    background-color: var(--bulma-dark);
}

.driver-popover {
}

/* Arrow pointing towards the highlighted element */
.tour .driver-popover-arrow {
}

/* Title and description */
.tour .driver-popover-title {
    font-family: inherit;
}
.tour .driver-popover-description {
    font-family: inherit;
    @extend .is-size-6 !optional;
}

/* Close button displayed on the top right corner */
.tour .driver-popover-close-btn {
    @extend .delete !optional;
    @extend .is-pulled-right !optional;
}

/* Footer of the popover displaying progress and navigation buttons */
.tour .driver-popover-footer {
    font-family: inherit;
}
.tour .driver-popover-progress-text {
    font-weight: 900;
}
.tour .driver-popover-prev-btn {
    @extend .button !optional;
    @extend .is-normal !optional;
}
.tour .driver-popover-next-btn {
    @extend .button !optional;
    @extend .is-success !optional;
    @extend .is-normal !optional;
    color: red;
}
