<div class="modal is-active">
    <div class="modal-background" (click)="simulationService.toggleShowExportModal()"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                <span class="icon">
                    <fa-icon [icon]="['far', 'save']"></fa-icon>
                </span>
                <span>
                    <label for="exportArea">
                        <b> Export</b>
                    </label>
                </span>
            </p>
            <button class="delete" aria-label="close" (click)="simulationService.toggleShowExportModal()"></button>
        </header>
        <section class="modal-card-body">
            <textarea
                readonly
                id="exportArea"
                class="textarea is-primary"
                data-testid="export-area"
                title="Export area"
                type="text"
                (focus)="focusTextArea($event.target)"
                [ngModel]="simulationService.getExportToken()">
            </textarea>
        </section>
        <footer class="modal-card-foot">
            <div class="field is-grouped">
                <button
                    class="button is-success"
                    data-testid="copy-to-clipboard"
                    title="Copy to clipboard"
                    (click)="exportSession()"
                    [disabled]="simulationService.getExportToken().length === 0">
                    <span class="icon is-small">
                        <fa-icon [icon]="['fas', 'paste']"></fa-icon>
                    </span>
                    @if (!isMobile) { <span>Copy</span> }
                </button>
                <button
                    class="button is-warning"
                    data-testid="export-as-file"
                    title="export as file"
                    (click)="exportAsFile()"
                    [disabled]="simulationService.getExportToken().length === 0">
                    <span class="icon is-small">
                        <fa-icon [icon]="['fas', 'download']"></fa-icon>
                    </span>
                    @if (!isMobile) { <span>Download</span> }
                </button>
                @if (canShare) {
                <button
                    class="button is-link"
                    data-testid="export-as-file"
                    title="export as file"
                    (click)="shareFile()"
                    [disabled]="simulationService.getExportToken().length === 0">
                    <span class="icon is-small">
                        <fa-icon [icon]="['fas', 'share-nodes']"></fa-icon>
                    </span>
                    @if (!isMobile) { <span>Share</span> }
                </button>
                } @if (!isMobile) {
                <button
                    class="button"
                    data-testid="export-cancel"
                    title="cancel export"
                    (click)="simulationService.toggleShowExportModal()">
                    <span class="icon is-small">
                        <fa-icon [icon]="['fas', 'times-circle']"></fa-icon>
                    </span>
                    <span>Cancel</span>
                </button>
                }
            </div>
        </footer>
    </div>
</div>
