.subtitle {
  color: grey;
}

.simple-border-right {
  border-right: 2px solid #DBDBDB;
}

.simple-border-bottom {
  border-bottom: 1px solid #DBDBDB;
}

.simple-border-left {
  border-left: 1px solid #DBDBDB;
}

.no-border {
  border-bottom-style: none;
}
