<app-stats class="box" [isMouseDown]="isMouseDown"></app-stats>
<div class="column" [ngClass]="{'wrapper-forbidden': simulationService.getGridLock() | async}">
  <div class="column is-12 m-0 p-0">
    <div class="game-grid"
         [ngClass]="{'game-grid-lock': simulationService.getGridLock() | async}"
         (mousedown)="isMouseDown = true"
         (mouseup)="onMouseUp()"
         (mouseleave)="onMouseUp()">
      <div *ngFor="let col of gridList; let i=index" class="game-column">
        <app-node *ngFor="let nodeStatus of col; let j=index"
                  [status-obj]="nodeStatus"
                  [is-mouse-down]="isMouseDown"
                  (wasUpdated)="updateCellStats($event)"
                  (drawModeLogic)="drawModeLogic($event, i, j)"
        ></app-node>
      </div>
    </div>
  </div>
</div>
<hr class="hr-text m-2" data-content="GRID COTNROL">
<div class="columns">
  <div class="column is-full">
    <div class="field has-addons has-addons-centered is-marginless control-button-wrapper">
      <p class="control">
        <button class="button is-outlined"
                [ngClass]="simulationService.getDrawingMode() === 1 ? 'is-active' : ''"
                [disabled]="this.simulationService.getGridLock() | async"
                (click)="simulationService.setDrawingMode(1)">
                <span class="icon start-icon">
                  <fa-icon [icon]="['fas', 'square-full']"></fa-icon>
                </span>
          <b>Set Start</b>
        </button>
      </p>
      <p class="control">
        <button class="button is-outlined"
                [disabled]="!(this.simulationService.getGridLock() | async)">
                <span class="icon">
                  <fa-icon [icon]="['fas', 'balance-scale-right']"></fa-icon>
                </span>
          <b>Add weights</b>
        </button>
      </p>
      <p class="control">
        <button class="button is-outlined"
                [ngClass]="simulationService.getDrawingMode() === 2 ? 'is-active' : ''"
                [disabled]="this.simulationService.getGridLock() | async"
                (click)="simulationService.setDrawingMode(2)">
                <span class="icon goal-icon">
                  <fa-icon [icon]="['fas', 'square-full']"></fa-icon>
                </span>
          <b>Set Goal</b>
        </button>
      </p>
      <p class="control control-pulled-right">
        <button class="button is-outlined">
                <span class="icon">
                  <fa-icon [icon]="['fas', 'asterisk']"></fa-icon>
                </span>
          <b>Legend</b>
        </button>
      </p>
    </div>
  </div>
</div>
