@use 'bulma/bulma' as bulma;
//@use "sass:meta";
@use "colors";

:host {
    display: block;
    // love how bulma still has no css variables
    //--primary-color-a20: hsla(hue(#{meta.inspect(bulma.$primary)}),
    //    saturation(#{meta.inspect(bulma.$primary)}),
    //    lightness(#{meta.inspect(bulma.$primary)}, .2));
    --primary-color-a20: hsl(171, 100%, 41%, 0.2);
    --danger-color-a20: hsla(348, 100%, 61%, 0.2);
    --box-shadow-maze: 0 0.2em 1.2em 0 var(--primary-color-a20), 0 0px 0 1px rgba(10, 10, 10, 0.02);
    --box-shadow-path: 0 0.2em 1.2em -0.125em var(--danger-color-a20),
        0 0px 0 1px rgba(10, 10, 10, 0.02);
}

.box {
    transition: box-shadow 500ms ease-in-out;
}

.box-shadow-maze {
    box-shadow: var(--box-shadow-maze);
}

.box-shadow-path {
    box-shadow: var(--box-shadow-path);
}

body.dark :host .box-shadow-maze {
    background-color: hsl(0deg 0% 21.85%);
}

body.dark :host .box-shadow-path {
    background-color: hsl(0deg 0% 21.85%);
}

.outer-wall {
    background-color: #818078;
    padding: 2px;
}

.game-grid {
    border-top: 1px solid bulma.$dark;
    border-left: 1px solid bulma.$dark;
    display: flex;
    flex: 1;
    justify-content: center;
}

.game-column {
    display: flex;
    flex: 1 0;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    flex-direction: column;
}

.game-grid-lock {
    pointer-events: none;
}

.wrapper-forbidden {
    cursor: not-allowed;
}

.start-icon {
    color: colors.$primary-green;
}

.goal-icon {
    color: colors.$secondary-red;
}

.control-button-wrapper:before {
    content: '';
    flex: 1 0 0;
}

.control-pulled-right {
    flex: 1 0 0;
    text-align: end;
}

.control-pulled-right > .button {
    border-radius: 0;
}

.control-button-wrapper {
    border-radius: 0;
}

.border-radius-right {
    border-radius: 0 4px 4px 0 !important;
}
