<app-stats
    [ngClass]="algorithmService.getAlgorithmMode() === 'maze' ? 'box-shadow-maze' : 'box-shadow-path'"
    class="box mb-4 tourStats"
    [isMouseDown]="isMouseDown"></app-stats>
<section class="block outer-wall mb-1" [ngClass]="{ 'wrapper-forbidden': recordService.getIteration() > 0 }">
    <div
        class="game-grid"
        [ngClass]="{ 'game-grid-lock': recordService.getIteration() > 0 }"
        (mousedown)="isMouseDown = true"
        (mouseup)="onMouseUp()"
        (mouseleave)="onMouseUp()">
        @for (col of gridList; track col; let i = $index) {
        <div class="game-column">
            @for (node of col; track node; let j = $index) {
            <app-node
                [status]="node.status"
                [weight]="node.weight"
                [isMouseDown]="isMouseDown"
                (wasUpdated)="drawModeLogic(i, j)">
            </app-node>
            }
        </div>
        }
    </div>
</section>
<section class="tourGridControl">
    <app-hr text="GRID CONTROL"></app-hr>
    <div class="columns is-multiline is-gapless">
        <div class="column is-full">
            <div class="field has-addons has-addons-centered is-marginless control-button-wrapper">
                <p class="control">
                    <button
                        class="button mr-3 is-responsive"
                        data-testid="set-start"
                        title="Set start"
                        [ngClass]="simulationService.getDrawingMode() === 2 ? 'is-warning is-light' : ''"
                        [disabled]="recordService.getIteration() > 0"
                        (click)="simulationService.setDrawingMode(2)">
                        <span class="icon start-icon">
                            <fa-icon [icon]="['fas', 'square-full']"></fa-icon>
                        </span>
                        @if ((breakpointService.isMobile() | async) === false) {
                        <span>Set Start</span>
                        }
                    </button>
                </p>
                <p class="control">
                    <button
                        class="button is-responsive"
                        data-testid="add-weights"
                        title="add weights"
                        [disabled]="!algorithmService.usesNodeWeights() || this.recordService.getIteration() > 0"
                        (click)="addNodeWeights()">
                        <span class="icon">
                            <fa-icon [icon]="['fas', 'balance-scale-right']"></fa-icon>
                        </span>
                        @if ((breakpointService.isMobile() | async) === false) {
                        <span>Add Weights</span>
                        }
                    </button>
                </p>
                <p class="control">
                    <button
                        class="button is-pulled-right is-responsive"
                        data-testid="toggle-weights"
                        [ngClass]="simulationService.getShowWeightStatus() ? 'is-primary is-light' : 'is-danger is-light'"
                        title="Toggle weights"
                        (click)="simulationService.toggleWeightStatus()">
                        <span class="icon">
                            @if (simulationService.getShowWeightStatus()) {
                            <fa-icon [icon]="['fas', 'eye']"></fa-icon>
                            } @if (!simulationService.getShowWeightStatus()) {
                            <fa-icon [icon]="['fas', 'eye-slash']"></fa-icon>
                            }
                        </span>
                    </button>
                </p>
                <p class="control">
                    <button
                        class="button border-radius-right ml-3 is-responsive"
                        data-testid="set-goal"
                        title="Set goal"
                        [ngClass]="simulationService.getDrawingMode() === 3 ? 'is-warning is-light' : ''"
                        [disabled]="recordService.getIteration() > 0"
                        (click)="simulationService.setDrawingMode(3)">
                        <span class="icon goal-icon">
                            <fa-icon [icon]="['fas', 'square-full']"></fa-icon>
                        </span>
                        @if ((breakpointService.isMobile() | async) === false) {
                        <span>Set Goal</span>
                        }
                    </button>
                </p>
                <p class="control control-pulled-right">
                    <button
                        class="button is-expanded is-responsive"
                        data-testid="legend"
                        title="Legend"
                        (click)="simulationService.toggleShowLegendModal()">
                        <span class="icon has-text-info">
                            <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
                        </span>
                        @if ((breakpointService.isMobile() | async) === false) {
                        <span>Legend</span>
                        }
                    </button>
                </p>
            </div>
        </div>
    </div>
</section>
