<div class="fixed-grid has-12-cols has-12-cols-tablet ordered-touch">
    <div class="grid">
        <div class="cell is-col-span-8-desktop is-col-span-12-tablet is-col-span-12-mobile fl-2">
            <app-grid class="box tourGrid" style="height: 100%"></app-grid>
        </div>
        <div class="cell is-col-span-4-desktop is-col-span-12-tablet is-col-span-12-mobile fl-1">
            <div class="box pt-2 is-justify-content-center tourAlgorithmSettings" style="height: 100%">
                <app-grid-settings></app-grid-settings>
            </div>
        </div>
        <div class="cell is-col-span-12 is-col-span-12-tablet is-col-span-12-mobile fl-3">
            <app-controller class="box py-2 tourAlgoControl"></app-controller>
        </div>
    </div>
</div>
