@use 'bulma/bulma' as bulma;

@media screen and (max-width: 1024px) {
    .ordered-touch {
        display: flex;
        flex-flow: column;
    }
    .ordered-touch .fl-1 {
        order: 1;
    }
    .ordered-touch .fl-2 {
        order: 2;
    }
    .ordered-touch .fl-3 {
        order: 3;
    }
    .ordered-touch .fl-4 {
        order: 4;
    }
}

//body.dark .box {
//    background-color: bulma.$primary;
//}

//body.dark .column {
//  background-color: bulma.$dark;
//}
