<div class="columns is-flex is-multiline ordered-touch is-align-items-stretch">
    <div class="column is-8 is-12-touch fl-2 px-2">
        <app-grid class="box tourGrid"></app-grid>
    </div>
    <div class="column is-4-desktop is-12-touch is-12-mobile fl-1 is-flex is-flex-grow-1 px-2">
        <div class="box pt-2 is-justify-content-center tourAlgorithmSettings" style="width: 100%">
            <app-grid-settings></app-grid-settings>
        </div>
    </div>
    <div class="column fl-3 px-2">
        <app-controller class="box py-2 tourAlgoControl"></app-controller>
    </div>
</div>
