@media screen and (max-width: 1023px) {
    // .ordered-touch {
    //     // display: flex;
    //     // flex-flow: column;
    // }
    // .grid {
    //     display: grid;
    // }
    .fl-1 {
        order: 1;
    }
    .fl-2 {
        order: 2;
    }
    .fl-3 {
        order: 3;
    }
    .fl-4 {
        order: 4;
    }
}

body.theme-dark .box {
    background-color: var(--bulma-primary);
}

//body.theme-dark .column {
//  background-color: bulma.$dark;
//}
