<nav class="navbar is-transparent pl-3 pr-3">
    <div class="container is-fullhd pl-2 pr-2">
        <div class="navbar-brand">
            <a
                role="button"
                class="navbar-item pb-1 font-white is-unselectable"
                data-testid="amazeing-logo"
                (click)="navigateToSimulation()">
                <span
                    class="logo"
                    [ngClass]="algorithmService.getAlgorithmMode() === 'maze' ? 'maze-mode' : 'path-mode'">
                    <svg
                        id="svg1"
                        width="100%"
                        height="100%"
                        version="1.1"
                        viewBox="0 0 175.52643 23.531349"
                        xmlns="http://www.w3.org/2000/svg">
                        <defs id="defs1" />
                        <g
                            id="shade"
                            fill="#50cfb2"
                            stroke="#000000"
                            stroke-linecap="square"
                            stroke-linejoin="round"
                            stroke-miterlimit="0"
                            transform="translate(-17.198412,-136.79365)">
                            <path
                                id="path21"
                                d="m 189.46,160.06 3,-3 v -10 l -3,3 z m -5,-10 3,-3 h 5 l -3,3 z m -4,6 3,-3 h 3 v 3 z m 0,0 3,-3 v -9 l -3,-0.0854 z m -5,-14 2.3367,-2 -0.05,2 z m 14,2 3,-3 v -4 l -3,3 z m -11.663,-4 3.7133,-3 h 10.95 l -3,3 z"
                                stroke-width="0.52917"
                                style="paint-order: normal" />
                            <path
                                id="path16"
                                d="m 168.46,160.06 3,-3 v -20 l -3,3 z m -5,-20 3,-3 h 5 l -3,3 z m -11,20 3,-3 v -9 h -3 z m 8,-8 h 3 v -3 z m 0,0 3,-3 v -3 l -3,3 z m -2,-3 v -3 l 3,-3 v 3 z m 0,0 h 2 l 3,-3 h -2 z m -2,-3 h 2 l 3,-3 h -2 z m 0,0 3,-3 v -3 l -3,3 z m 0,-3 3,-3 h -2 l -3,3 z m -2,0 3,-3 v -3 l -3,3 z m -7,-3 3,-3 h 7 l -3,3 z"
                                stroke-width="0.52917"
                                style="paint-order: normal" />
                            <path
                                id="path10"
                                d="m 140.46,160.06 3,-3.0008 v -20.001 l -3,3.0016 z m -5,-20 3,-2.9928 5,-0.008 -3,3.0008 z"
                                stroke-width="0.52917"
                                style="paint-order: normal" />
                            <path
                                id="path8"
                                d="m 128.46,160.06 3,-3 v -4 l -2.9889,3 z m -9.9903,-4 2.9903,-3 h 10 l -3,3 z m 0,0 2.9903,-3 v -1 h -2.9903 z m 10.001,-4 2.9889,-3 v -4 l -2.9889,3 z m -10.001,-4 2.9903,-3 h 10 l -2.9889,3 z m 0,0 2.9903,-3 v -1 l -2.9904,1e-5 z m 10.001,-4 2.9889,-3 v -4 l -2.9889,3 z m -13.011,-4 3.0014,-3 h 12.999 l -2.9889,3 z m -2,2 2,-2 v 2 z"
                                stroke-width="0.52917"
                                style="paint-order: normal" />
                            <path
                                id="path4"
                                d="m 106.46,160.06 3,-3 v -4 l -3,3 z m -11,-12 3,-3 2,2e-5 -10e-6,3 z m 8,4 3,-3 v -1 h -3 z m -4,4 3,-3 v -1 l -3,-4.4e-4 z m 0,0 3,-3 7,1e-5 -3,3 z m 10,-11 v -8 l -3,3 v 8 z m -15,-8 h 15 l -3,3 -15,-1e-5 z m -3,17 3,-3 h 1 v 3 z"
                                stroke-width="0.52917"
                                style="paint-order: normal" />
                            <path
                                id="path18"
                                d="m 74.462,160.06 3,-3 v -6 h -3 z m 3,-16 v 1 l -3,3 v -4 z m -8,-2 2,-2 v 2 z m 15,18 3,-3 v -18 l -3,3 z m 0,-18 3,-3 h -2 l -3,3 z m -2,0 3,-3 -10e-7,-2 -3,3 z m -11,-2 3,-3 h 11 l -3,3 z m 3,8 h 5 l 10e-7,-3 h -2 z"
                                stroke-width="0.52917"
                                style="paint-order: normal" />
                            <path
                                id="path46"
                                d="m 52.462,153.06 2,-2 h -2 z m 2,-2 3,-3 h -3 z m -6,-5 3,-3 v -2 l -3,3 z m -2,-2 h 2 l 3,-3 h -2 z m -2,-2 h 2 l 3,-3 h -2 z m 0,0 3,-3 v -2 l -3,3 z m 0,-2 3,-3 h -5 l -3,3 z m 0,20 3,-3 v -9 h -3 z m 18,0 3,-3 v -20 l -3,2.9654 z m -5,-20 3,-3 5,-1e-5 -3,3 z m -2,2 2,-2 -1e-6,2 z m -2,2 2,-2 v 2 z m -5,2 h 5 v -2 l 1,-1 h -3 z m 0,0 3,-3 z m -2,-2 3,-3 v -2 l -3,3 z"
                                stroke-width="0.529" />
                            <path
                                id="path24"
                                d="m 22.463,160.06 3,-3 v -6 h -3 z m 3,-16 v 1 l -3,3 v -4 z m -8,-2 2,-2 v 2 z m 15,18 3,-3 v -18 l -3,3 z m 0,-18 3,-3 h -2 l -3,3 z m -2,0 3,-3 -10e-7,-2 -3,3 z m -11,-2 3,-3 h 11 l -3,3 z m 3,8 h 5 l 10e-7,-3 h -2 z"
                                stroke-width="0.52917"
                                style="paint-order: normal" />
                        </g>
                        <g
                            id="front"
                            fill="#4a4a4a"
                            fill-opacity="0.99684"
                            stroke="#000000"
                            stroke-miterlimit="0"
                            stroke-width="0.52917"
                            transform="translate(-17.198412,-136.79365)"
                            inkscape:label="front">
                            <path
                                id="path20"
                                d="m 175.46,142.06 2.2867,1e-5 0.05,-2 11.663,-0.0854 v 4.0854 h -9 v 11.915 h 6 v -3.9146 h -2 v -2 h 5 v 10 l -11.95,-1e-5 v -2 l -2.05,1e-5 z"
                                stroke-linecap="square"
                                stroke-linejoin="round" />
                            <path
                                id="path14"
                                d="m 147.46,140.06 v 20 h 5 v -12 h 3 v 3 h 2 v 3 h 2 c -1e-5,-0.18434 0,2 0,3 h 3 v 3 h 6 v -20 h -5 v 12 h -3 v -3 h -2 v -3 h -2 v -3 h -2 v -3 z"
                                stroke-linecap="square"
                                stroke-linejoin="round" />
                            <path
                                id="path9"
                                d="m 135.46,140.06 v 20 h 5 v -20.001 z"
                                stroke-linecap="square"
                                stroke-linejoin="round" />
                            <path
                                id="path7"
                                d="m 115.46,142.06 h -2 v 16 h 2 v 2 h 13 v -4 h -9.9903 v -4 h 10.001 l -0.0111,-4 h -9.9903 v -4 h 9.9903 v -4 l -12.989,7e-5 z"
                                stroke-linecap="square"
                                stroke-linejoin="round" />
                            <path
                                id="path2"
                                d="m 99.463,156.06 7,0.0819 v 3.9181 h -2 l -11,1e-5 h -2 l -4e-6,-2 v -4 h 4 l -3e-6,-2 v -4 l 4.999997,1e-5 v -4 c 0,0 -8.999997,0 -8.999997,1e-5 v -4 l 14.999997,-2e-5 v 8 l -3,-1e-5 v 2.0014 -0.001 1.9996 l -3.999997,2e-5 z"
                                stroke-linecap="square"
                                stroke-linejoin="round" />
                            <path
                                id="path28"
                                d="m 74.463,148.06 v -4 h 5 v 4 z m 5,3 -10e-7,9 h 5 v -18 h -2 v -2 h -11 l -2e-6,2 h -2 v 18 h 5 v -9 z"
                                stroke-linecap="square"
                                stroke-linejoin="round" />
                            <path
                                id="path12-2-2-8-1-6-3-7"
                                d="m 39.462,160.06 h 5 v -12 h 3 l -1e-6,3 c 0.33333,0 2.104,3e-5 2,3e-5 l 1e-6,2 h 3 l 2e-5,-1.9835 c -0.10399,2e-5 1.6666,-0.0165 2,-0.0165 l 10e-7,-3 h 3 v 12 h 5 c 0,-6.6666 0.0423,-13.361 0,-20.027 h -5 v 2.0273 h -2 v 2 h -2 v 1.9726 h -5 v -1.9726 l -2,1e-5 v -2 h -2 v -2 h -5 z"
                                stroke-linecap="round"
                                stroke-linejoin="bevel" />
                            <path
                                id="path19-89-4-0"
                                d="m 22.463,148.06 v -4 h 5 v 4 z m 5,3 -1e-6,9 h 5 v -18 h -2 v -2 h -11 l -2e-6,2 h -2 v 18 h 5 v -9 z"
                                stroke-linecap="square"
                                stroke-linejoin="round" />
                        </g>
                    </svg>
                </span>
            </a>
            <div role="button" class="navbar-item navbar-end is-hidden-desktop">
                <a
                    class="button github-brand-color is-pulled-right"
                    [ngClass]="isMobile ? 'is-small' : 'is-normal'"
                    href="https://github.com/Ijee/Amazeing"
                    target="_blank"
                    rel="noopener">
                    <span class="icon">
                        <fa-icon [icon]="['fab', 'github']"></fa-icon>
                    </span>
                    <span>
                        <b>Ijee</b>
                    </span>
                </a>
            </div>
            <span
                class="navbar-burger has-text-white-ter is-unselectable"
                role="button"
                aria-label="menu"
                [attr.aria-expanded]="showNavbar ? 'true' : 'false'"
                data-target="navbarMenuHeroA"
                [ngClass]="{ 'is-active': showNavbar }"
                (click)="showNavbar = !showNavbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </span>
        </div>
        <div
            id="navbarMenuHeroA"
            class="navbar-menu"
            [ngClass]="{
                'is-active': showNavbar,
                'transparent-navbar': !isTouch
            }">
            <div class="navbar-end">
                <a
                    role="button"
                    class="navbar-item is-unselectable"
                    data-testid="simulation"
                    [ngClass]="{ 'font-white': !isTouch }"
                    routerLink="simulation"
                    (click)="navigateToSimulation()">
                    <span class="icon">
                        <fa-icon [icon]="['fas', 'microchip']"></fa-icon>
                    </span>
                    <span routerLinkActive="simple-border-bottom"><b>SIMULATION</b></span>
                </a>
                <a
                    role="button"
                    class="navbar-item is-unselectable"
                    data-testid="learn"
                    [ngClass]="{ 'font-white': !isTouch }"
                    routerLink="learn"
                    (click)="simulationService.setSimulationStatus(false)">
                    <span class="icon">
                        <fa-icon [icon]="['fas', 'chalkboard-teacher']"></fa-icon>
                    </span>
                    <span routerLinkActive="simple-border-bottom"><b>LEARN</b></span>
                </a>
                <div
                    role="button"
                    class="navbar-item has-dropdown"
                    [ngClass]="{ 'is-active': showSettingsDropdown }"
                    appClickOutside
                    (clickOutside)="showSettingsDropdown = false">
                    <div
                        class="navbar-link"
                        [ngClass]="{ 'font-white is-arrowless': !isTouch }"
                        (click)="showSettingsDropdown = !showSettingsDropdown; $event.stopPropagation()">
                        <span class="icon">
                            <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                        </span>
                        <span><b>SETTINGS</b></span>
                    </div>
                    <div class="navbar-dropdown is-boxed" [ngClass]="{ 'is-active': showSettingsDropdown }">
                        <div class="columns pl-3 m-1 pb-0 navbar-item">
                            <div class="column is-8 pl-0">
                                <span class="icon">
                                    <fa-icon [icon]="['fas', 'adjust']"></fa-icon>
                                </span>
                                <span><b>Dark mode</b></span>
                            </div>
                            <button
                                class="column is-4 button settings-button dropdown-button is-pulled-right"
                                [class]="(settingsService.getDarkModeSetting() | async) ? 'is-primary' : 'is-danger'"
                                (click)="settingsService.setDarkModeSetting()">
                                <b>{{ (settingsService.getDarkModeSetting() | async) ? 'ON' : 'OFF' }}</b>
                            </button>
                        </div>
                        <div class="columns pl-3 m-1 pb-0 navbar-item">
                            <div class="column is-8 pl-0">
                                <span class="icon">
                                    <fa-icon [icon]="['fas', 'wind']"></fa-icon>
                                </span>
                                <span><b>Animations</b></span>
                            </div>
                            <button
                                class="column is-4 button settings-button dropdown-button is-pulled-right"
                                [class]="settingsService.getAnimationsSetting() ? 'is-primary' : 'is-danger'"
                                (click)="settingsService.setAnimationSetting()">
                                <b>{{ settingsService.getAnimationsSetting() ? 'ON' : 'OFF' }}</b>
                            </button>
                        </div>
                        <div class="columns pl-3 m-1 navbar-item">
                            <div class="column is-8 pl-0">
                                <span class="icon">
                                    <fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon>
                                </span>
                                <span><b>Warnings</b></span>
                            </div>
                            <button
                                class="column is-4 button settings-button is-fullwidth dropdown-button is-pulled-right"
                                [class]="settingsService.getWarningsSetting() ? 'is-primary' : 'is-danger'"
                                (click)="settingsService.setWarningsSetting()">
                                <b>{{ settingsService.getWarningsSetting() ? 'ON' : 'OFF' }}</b>
                            </button>
                        </div>
                        <hr class="navbar-divider" />
                        <a role="button" class="navbar-item is-unselectable" (click)="prepareUserTour()">
                            <span class="icon">
                                <fa-icon [icon]="['fas', 'circle-question']"></fa-icon>
                            </span>
                            <b>Retake Tour</b>
                            <span class="subtitle"></span>
                        </a>
                        @if (deferredInstallPrompt !== undefined) {
                        <a role="button" class="navbar-item is-unselectable" (click)="showInstallPrompt()">
                            <span class="icon">
                                <fa-icon [icon]="['fas', 'download']"></fa-icon>
                            </span>
                            <b>Install App</b>
                            <span class="subtitle"></span>
                        </a>
                        }
                        <div class="navbar-item has-text-danger">
                            <span class="icon">
                                <fa-icon [icon]="['fas', 'tag']"></fa-icon>
                            </span>
                            <b>Version: {{ version }}</b>
                            <span class="subtitle"></span>
                        </div>
                        <a
                            class="navbar-item has-text-link is-unselectable"
                            href="https://github.com/Ijee/Amazeing/releases"
                            target="_blank"
                            rel="noopener">
                            <span class="icon">
                                <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
                            </span>
                            <b>Changelog</b>
                        </a>
                        <div class="navbar-item">
                            <a
                                role="button"
                                class="button dropdown-button is-link force-blue-bg is-fullwidth"
                                href="https://github.com/Ijee/Amazeing/issues"
                                target="_blank"
                                rel="noopener">
                                <b>REPORT A PROBLEM</b>
                            </a>
                        </div>
                    </div>
                </div>
                @if (!settingsService.getUserTourTaken()) {
                <span class="navbar-item p-0">
                    <a
                        role="button"
                        [class.fa-bounce]="isBouncing"
                        class="button is-rounded button-user-tour"
                        (click)="prepareUserTour()">
                        <span class="icon has-text-white">
                            <fa-icon class="fa-xl" [icon]="['fas', 'circle-question']"></fa-icon>
                        </span>
                    </a>
                </span>
                } @if (!isTouch) {
                <span class="navbar-item pl-0">
                    <a
                        class="button github-brand-color force-blue-bg"
                        href="https://github.com/Ijee/Amazeing"
                        target="_blank"
                        rel="noopener">
                        <span class="icon">
                            <fa-icon [icon]="['fab', 'github']"></fa-icon>
                        </span>
                        <span>
                            <b>Ijee</b>
                        </span>
                    </a>
                </span>
                }
            </div>
        </div>
    </div>
</nav>
<main
    class="container is-fullhd p-2"
    [@.disabled]="!settingsService.getAnimationsSetting()"
    [@fadeRouteAnimation]="prepareRoute(o)">
    <router-outlet #o="outlet"></router-outlet>
</main>
@defer (on immediate) { @if (warnDialogService.getDialogStatus()) {
<app-warning-modal [@.disabled]="!settingsService.getAnimationsSetting()" @modalFadeInOut></app-warning-modal>
} @if (simulationService.getShowLegendModal()) {
<app-legend-modal [@.disabled]="!settingsService.getAnimationsSetting()" @modalFadeInOut> </app-legend-modal>
} @if (simulationService.getShowImportModal()) {
<app-import-modal [@.disabled]="!settingsService.getAnimationsSetting()" @modalFadeInOut></app-import-modal>
} @if (simulationService.getShowExportModal()) {
<app-export-modal [@.disabled]="!settingsService.getAnimationsSetting()" @modalFadeInOut></app-export-modal>
} }
