@media screen and (max-width: 1023px) {
    .navbar-menu {
        border-radius: var(--bulma-radius-large);
        display: grid;
        grid-template-rows: 0fr;
        transition-property: grid-template-rows, background-color, box-shadow;
        transition: 350ms;
        transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
        background-color: transparent;
        box-shadow: none;
    }
    .navbar-menu.is-active {
        grid-template-rows: 1fr;
        background-color: var(--background-color-light);
    }

    body.theme-dark :host .navbar-menu.is-active {
        background-color: var(--bulma-dark);
        box-shadow: var(--dark-mode-shadow);
    }
    .navbar-menu > div {
        overflow: hidden;
        grid-row: 1 / span 2;
    }

    .navbar-dropdown-wrapper {
        display: grid;
        grid-template-rows: 0fr;
        transition-property: grid-template-rows, background-color, box-shadow;
        transition: 350ms;
        transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
        background-color: transparent;
    }
    .navbar-dropdown-wrapper.is-active {
        grid-template-rows: 1fr;
        background-color: var(--background-color-light);
    }

    .navbar-dropdown-wrapper:not(.is-active) .navbar-dropdown > .columns {
        background-color: transparent;
    }

    body.theme-dark :host .navbar-dropdown-wrapper.is-active {
        background-color: var(--bulma-dark);
        box-shadow: var(--dark-mode-shadow);
    }
    body.theme-dark :host .navbar-dropdown {
        box-shadow: var(--dark-mode-shadow);
    }

    .navbar-dropdown {
        overflow: hidden;
    }
}

.navbar {
    z-index: auto;
}

body.theme-dark :host .navbar-dropdown {
    box-shadow: var(--dark-mode-shadow);
}

body.theme-dark :host .navbar-item {
    color: var(--white-dark-87);
}

body.theme-dark :host .navbar-link {
    color: var(--white-dark-87);
}
.navbar-link {
    background-color: transparent !important;
}

body.theme-dark :host .navbar-dropdown .navbar-item {
    background-color: var(--bulma-dark);
}

body.theme-dark :host .navbar-dropdown {
    background-color: var(--bulma-dark);
}

.logo {
    display: grid;
    align-items: center;
    max-width: 100%;
    width: 100%;
    height: auto;
    fill-opacity: 0.5;
}

.logo #front {
    fill: var(--background-color-light);
}

.logo #shade {
    fill: var(--background-color-light);
}

.logo #shade {
    transition: fill 500ms ease-in-out;
}

.maze-mode #shade {
    fill: var(--bulma-primary);
    fill-opacity: 1;
}

.path-mode #shade {
    fill: var(--bulma-danger);
    fill-opacity: 1;
}

.logo svg {
    max-width: 100%;
    width: 100%;
    height: auto;
    transition: fill 350ms ease-out;
}

.logo svg:hover {
    #front {
        fill: var(--white-dark-78);
        fill-opacity: 1;
        transition: fill 350ms ease;
    }
}

.github-brand-color {
    color: var(--bulma-white) !important;
    background-color: var(--github-brand-color) !important;
    outline: none !important;
    border: none;
}

main {
    position: relative;
}

body.theme-dark .is-primary {
    background-color: var(--bulma-primary) !important;
}

.body.theme-dark .is-danger {
    background-color: var(--bulma-danger) !important;
}

.transparent-navbar {
    background-color: transparent;
}

.navbar {
    &.is-transparent {
        background-color: transparent;
        background-image: none;
    }
}

.navbar-item:hover {
    background-color: transparent;
}

//TODO: Yeah this isn't a good solution for navbar-item/link.
body.theme-light :host .navbar-item:hover,
body.theme-light :host .navbar-item.has-dropdown:hover {
    // transition: unset;
}

body.theme-light :host .navbar-link:hover {
    color: hsl(0, 3%, 85%);
    transition: unset;
}

body.theme-light :host .navbar-item-hover:hover {
    color: hsl(0, 3%, 85%);
}
.navbar-item-hover {
    text-decoration: none;
    position: relative;
    transition: all 350ms ease;
}

.navbar-item-hover:hover {
    // color: var(--algorithm-mode-color);
    text-shadow:
        0 0 2px var(--algorithm-mode-color),
        0 0 4px var(--algorithm-mode-color),
        0 0 6px var(--algorithm-mode-color),
        0 0 8px var(--algorithm-mode-color);
    > a {
        color: inherit;
    }
}

.navbar-dropdown-wrapper {
    text-shadow: none;
}
// .navbar-dropdown-wrapper {
//     text-shadow: revert;
// }
// a:hover {
//     color: var(--algorithm-mode-color);
//     text-shadow:
//         0 0 10px var(--algorithm-mode-color),
//         0 0 20px var(--algorithm-mode-color),
//         0 0 30px var(--algorithm-mode-color),
//         0 0 40px var(--algorithm-mode-color);
// }

body.theme-light :host .navbar-item .icon {
    // background-color: transparent;
    transition: unset;
}

.navbar-link:hover {
    color: var(--bulma-grey-dark);
    background-color: transparent;
    transition: unset;
}

.navbar-item:focus {
    outline: none;
    background-color: transparent;
}

.simple-border-bottom {
    border-bottom: 2px solid #dbdbdb;
}

.button-user-tour {
    background-color: transparent !important;
    border: 0;
}

.hr {
    position: relative;
    border-top: 2px solid #414b5c;
    margin: 0;
    bottom: 0;
}

.font-white {
    color: whitesmoke;
}

.force-blue-bg {
    background-color: var(--bulma-link);
    color: var(--white-dark-87);
}

.modal-fix {
    position: fixed;
    z-index: 100;
}
