<div class="amazeing is-fullheight">
<section class="section p-1">
  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" style="color: #fff">
              <span class="icon">
                <fa-icon [icon]="['fas', 'code']"></fa-icon>
              </span>
        <span><b>A<i>maze</i>ing</b></span>
      </a>
      <span [ngClass]="{'is-active': isNavbar}"
            class="navbar-burger burger  font-white"
            data-target="navbarMenuHeroA"
            (click)="isNavbar = !isNavbar">
             <span aria-hidden="true"></span>
             <span aria-hidden="true"></span>
             <span aria-hidden="true"></span>
            </span>
    </div>
    <div id="navbarMenuHeroA" [ngClass]="{ 'is-active': isNavbar }" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item font-white"
           routerLink="/simulation"
           (click)="simulationService.setGameStatus(false)">
                <span class="icon">
                  <fa-icon [icon]="['fas', 'microchip']"></fa-icon>
                </span>
          <span><b>SIMULATION</b></span>
        </a>
        <a class="navbar-item font-white"
           routerLink="/about"
           (click)="simulationService.setGameStatus(false)">
                <span class="icon">
                  <fa-icon [icon]="['fas', 'info']"></fa-icon>
                </span>
          <span><b>ABOUT</b></span>
        </a>
        <span class="navbar-item">
                <a class="button is-info"
                   href="https://github.com/Ijee/Game-of-Life-Angular"
                   target="_blank"
                   rel="noopener">
                  <span class="icon">
                    <fa-icon [icon]="['fab', 'github']"></fa-icon>
                  </span>
                  <span>
                    <b>Ijee</b>
                  </span>
                </a>
              </span>
      </div>
    </div>
  </nav>
</section>
<div class="section">
  <div class="columns is-multiline" [@fadeAnimation]="getRouterOutletState(o)">
    <main class="column is-12">
      <router-outlet #o="outlet"></router-outlet>
    </main>
  </div>
</div>
<footer class="footer">
  <div class="columns">
    <div class="column is-12">
      <app-controller class="box"></app-controller>
    </div>
  </div>
</footer>
</div>
<app-import-modal></app-import-modal>
<app-export-modal></app-export-modal>

