@media screen and (max-width: 1023px) {
    .navbar-dropdown .is-active {
        display: block;
    }
    .navbar-dropdown:not(.is-active) {
        display: none;
    }
}

svg:not(:root) {
    overflow: visible;
}

.logo {
    display: grid;
    align-items: center;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.logo #front {
    fill: var(--background-color-light)
}

.logo #shade {
    transition: fill 500ms ease-in-out;
}

.maze-mode #shade {
    fill: var(--bulma-primary);
}

.path-mode #shade {
    fill: var(--bulma-danger);
}

.logo svg {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.github-brand-color {
    color: var(--bulma-white);
    background-color: var(--github-brand-color) !important;
    border: none;
}

main {
    position: relative;
}

body.theme-dark .is-primary {
    background-color: var(--bulma-primary) !important;
}

.body.theme-dark .is-danger {
    background-color: var(--bulma-danger) !important;
}


.dropdown-button {
    margin-left: auto;
}

.transparent-navbar {
    background-color: transparent;
}

.navbar {
    &.is-transparent {
        background-color: transparent;
        background-image: none;
    }
}
.navbar-item:hover {
    color: var(--bulma-grey-dark);
    background-color: transparent;
}

.navbar-link:hover {
    color: var(--bulma-grey-dark);
    background-color: transparent;
    transition: unset;
}

.navbar-item:focus {
        outline: none;
        background-color: transparent;
}


.simple-border-bottom {
    border-bottom: 2px solid #dbdbdb;
}

.button-user-tour {
    background-color: transparent !important;
    border: 0;
}

.hr {
    position: relative;
    border-top: 2px solid #414b5c;
    margin: 0;
    bottom: 0;
}

.font-white {
    color: whitesmoke;
}
