@import "~bulma/bulma";

//.amazeing {
//  display: flex;
//  height: 100%;
//  flex-direction: column;
//}

$input-arrow: $white;

@media screen and (max-width: 1024px) {
  nav {
    border-bottom: 2px solid #cccaca;
  }
  .navbar-dropdown .is-active {
    display: block;
  }
  .navbar-dropdown:not(.is-active) {
    display: none;
  }
}

//main {
//  overflow-y: auto;
//  flex: 1 0;
//  display: flex;
//  flex-flow: column;
//}

.dropdown-button {
  margin-left: auto;
}


.transparent-navbar {
  background-color: transparent;
}

.simple-border-bottom {
  border-bottom: 2px solid #DBDBDB;
}


.hr {
  position: relative;
  border-top: 2px solid #414b5c;
  margin: 0;
  bottom: 0;
}

.font-white {
  color: whitesmoke;;
}
