@use 'bulma/bulma' as bulma;

@media screen and (max-width: 1023px) {
    .navbar-dropdown .is-active {
        display: block;
    }
    .navbar-dropdown:not(.is-active) {
        display: none;
    }
}
main {
    position: relative;
}

body.dark .is-primary {
  background-color: bulma.$primary !important;
}

.body.dark .is-danger {
  background-color: bulma.$danger !important;
}

.dropdown-button {
    margin-left: auto;
}

.transparent-navbar {
    background-color: transparent;
}

.navbar {
    &.is-transparent {
        background-color: transparent;
        background-image: none;
    }
}

.simple-border-bottom {
    border-bottom: 2px solid #dbdbdb;
}

.button-user-tour {
  background-color: transparent !important;
  border: 0;
}

.hr {
    position: relative;
    border-top: 2px solid #414b5c;
    margin: 0;
    bottom: 0;
}

.font-white {
    color: whitesmoke;
}
