.button {
    margin: 1px;
}

.button:hover {
    outline: 1px solid whitesmoke !important;
}

.backwards-button {
    min-width: 70px;
}

.import-button {
    border-top-left-radius: 0;
}
.export-button {
    border-top-right-radius: 0;
}
