<app-hr text="SIMULATION CONTROL"></app-hr>
<div class="field has-addons has-addons-centered is-marginless">
  <p class="control">
    <button [disabled]="simulationService.getDisableController() | async" class="button is-outlined"
            title="slow down"
            (click)="simulationService.setSpeedDown()">
      <fa-icon [icon]="['fas', 'backward']"></fa-icon>
    </button>
  </p>
  <p class="control">
    <button
      [disabled]="(simulationService.getDisableController() | async) || ((simulationService.getBackwardStepsAmount() | async) < 1)"
      class="button is-outlined"
      title="last step"
      [ngClass]="{'buttonBackwards' : (simulationService.getBackwardStepsAmount() | async) < 1}"
      (click)="simulationService.setBackwardStep()">
      <fa-icon [icon]="['fas', 'step-backward']"></fa-icon>
      <b> {{ simulationService.getBackwardStepsAmount() | async }} </b>
    </button>
  </p>
  <p class="control">
    <button [disabled]="simulationService.getDisableController() | async"
            [ngClass]="(simulationService.getSimulationStatus() | async) ? 'is-primary is-light' : 'is-danger is-light'"
            class="button"
            title="play" (click)="simulationService.setSimulationStatus()">
      <fa-icon *ngIf="simulationService.getSimulationStatus() | async" [icon]="['fas', 'stop']"></fa-icon>
      <fa-icon *ngIf="!(simulationService.getSimulationStatus() | async)" [icon]="['fas', 'play']"></fa-icon>
    </button>
  </p>
  <p class="control">
    <button class="button is-outlined"
            title="clear grid"
            [disabled]="(simulationService.getDisableController() | async)
            || (simulationService.getSimulationStatus() | async)"
            (click)="simulationService.reset()">
      <fa-icon *ngIf="recordService.getIteration() > 0" class="fa-flip-horizontal"
               [icon]="['fas', 'redo']"></fa-icon>
      <fa-icon *ngIf="recordService.getIteration() === 0" [icon]="['fas', 'trash']"></fa-icon>
    </button>
  </p>
  <p class="control">
    <button [disabled]="simulationService.getDisableController() | async" class="button is-outlined"
            title="next step"
            (click)="simulationService.addStep()">
      <fa-icon [icon]="['fas', 'step-forward']"></fa-icon>
    </button>
  </p>
  <p class="control">
    <button [disabled]="simulationService.getDisableController() | async" class="button is-outlined"
            title="speed up"
            (click)="simulationService.setSpeedUp()">
      <fa-icon [icon]="['fas', 'forward']"></fa-icon>
    </button>
  </p>
</div>
<div class="field has-addons has-addons-centered is-marginless">
  <p class="control">
    <button [disabled]="simulationService.getDisableController() | async" class="button" title="import"
            (click)="simulationService.setImportSession(); simulationService.setSimulationStatus(false)">
        <span class="icon">
          <fa-icon [icon]="['far', 'edit']"></fa-icon>
        </span>
      <b>Import</b>
    </button>
  </p>
  <p class="control">
    <button [disabled]="simulationService.getDisableController() | async" class="button" title="export"
            (click)="simulationService.setExportSession(); simulationService.setSimulationStatus(false)">
        <span class="icon">
          <fa-icon [icon]="['far', 'save']"></fa-icon>
        </span>
      <b>Export</b>
    </button>
  </p>
</div>
