<div class="modal is-active">
    <div class="modal-background" (click)="simulationService.toggleShowImportModal()"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                <span class="icon">
                    <fa-icon [icon]="['far', 'edit']"></fa-icon>
                </span>
                <label for="importArea">
                    <b> Import</b>
                </label>
            </p>
            <button class="delete" aria-label="close" (click)="simulationService.toggleShowImportModal()"></button>
        </header>
        <section class="modal-card-body">
            <textarea
                id="importArea"
                data-testid="import-area"
                class="textarea"
                type="text"
                placeholder="Paste import text here."
                [disabled]="usedFileUpload"
                [ngClass]="importError ? 'is-danger' : 'is-primary'"
                [(ngModel)]="importToken"
                (ngModelChange)="importError = false">
            </textarea>
            <app-hr text="OR"></app-hr>
            <div
                appDropZone
                (fileDropped)="droppedInFile($event)"
                class="file has-name is-fullwidth has-text-centered is-boxed"
                [ngClass]="{ 'is-danger': importError }"
                (change)="uploadFile($event)">
                <label class="file-label">
                    <input class="file-input" type="file" name="resume" accept=".txt" />
                    <span class="file-cta">
                        <span class="file-icon">
                            <fa-icon [icon]="['fas', 'file']"></fa-icon>
                        </span>
                        <span class="file-label">
                            <b>DRAG & DROP</b>
                        </span>
                    </span>
                    <span class="file-name has-text-info"> {{ fileName }} </span>
                </label>
            </div>
            @if (importError) {
            <p class="help is-danger has-text-weight-semibold">
                <span>The given input is not valid. Please check again.</span>
            </p>
            }
        </section>
        <footer class="modal-card-foot">
            <div class="field is-grouped">
                <button
                    class="button is-success custom-button"
                    data-testid="import-algorithm"
                    title="Import algorithm"
                    [disabled]="importToken.length === 0 || importError"
                    (click)="importSession()">
                    <span class="icon is-small">
                        <fa-icon [icon]="['fas', 'file-import']"></fa-icon>
                    </span>
                    <span>Import</span>
                </button>
                @if ((breakpointService.isTouch() | async) === false) {
                <button
                    class="button"
                    data-testid="import-cancel"
                    title="Import cancel"
                    (click)="simulationService.toggleShowImportModal()">
                    <span class="icon is-small">
                        <fa-icon [icon]="['fas', 'times-circle']"></fa-icon>
                    </span>
                    <span>Cancel</span>
                </button>
                }
            </div>
        </footer>
    </div>
</div>
