<div class="columns is-flex is-multiline is-gapless is-centered">
    <div class="column is-full p-1">
        <app-hr text="ALGORITHM MODE"></app-hr>
    </div>
    <div class="column is-half">
        <button
            class="button algo-mode-button border-radius-top-left is-medium is-fullwidth"
            [ngClass]="this.algorithmService.getAlgorithmMode() === 'maze' ? 'is-primary' : 'has-background-primary-light has-text-black'"
            (click)="handleWarning('maze')">
            <b>MAZE</b>
        </button>
    </div>
    <div class="column is-half">
        <button
            class="button algo-mode-button border-radius-top-right is-medium is-fullwidth"
            [ngClass]="algorithmService.getAlgorithmMode() === 'path-finding' ? 'is-danger' : 'has-background-danger-light has-text-black'"
            (click)="handleWarning('path-finding')">
            <b>PATHFINDING</b>
        </button>
    </div>
    <div *ngIf="showWarning" class="column is-full">
        <div class="is-warning-box has-background-warning p-2">
            <div class="columns is-multiline is-gapless">
                <div class="column is-full has-text-centered m-1">
                    <b> {{ 'Doing this will partially reset the grid' | uppercase }} </b>
                </div>
                <div class="column is-full">
                    <div class="buttons is-centered">
                        <button
                            class="button danger-button is-small is-warning has-text-white"
                            (click)="switchToOtherMode()">
                            <span class="icon">
                                <fa-icon [icon]="['fas', 'check']"></fa-icon>
                            </span>
                            <span><b>Continue</b></span>
                        </button>
                        <button
                            class="button danger-button is-small is-warning has-text-white"
                            (click)="showWarning = false">
                            <span class="icon">
                                <fa-icon [icon]="['fas', 'times']"></fa-icon>
                            </span>
                            <span><b>Cancel</b></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-full m-2 mb-3" [@fadeAnimationSafe]="o.isActivated && o.activatedRoute">
        <router-outlet #o="outlet"></router-outlet>
    </div>

    <app-hr class="column is-full py-0"></app-hr>
    <div class="column pt-1 is-full">
        <p class="menu-label has-text-centered">
            <b>Algorithm Options</b>
        </p>
        <div class="column is-full" *ngIf="handleJsonFormData().controls.length > 0">
            <form [formGroup]="optionsForm">
                <fieldset
                    *ngFor="let control of handleJsonFormData()?.controls"
                    class="columns is-multiline is-gapless mb-0">
                    <div *ngIf="control?.type === 'checkbox'" class="column is-12 control">
                        <label class="checkbox">
                            <input type="checkbox" [formControlName]="control.name" [value]="control.value" />
                            {{ control.name }}
                        </label>
                    </div>
                    <ng-container *ngIf="control?.type === 'radio'">
                        <div *ngFor="let value of control?.values" class="column is-12 control is-size-8">
                            <label class="radio">
                                <input
                                    type="radio"
                                    appDisableControl
                                    [disableControl]="recordService.getIteration() > 0"
                                    [formControlName]="control.name"
                                    [value]="value"
                                    [checked]="value" />
                                {{ value }}
                            </label>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="control?.type === 'select'">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">{{ control.name }}</label>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control">
                                                <div class="select is-primary">
                                                    <select
                                                        class="has-text-weight-medium"
                                                        appDisableControl
                                                        [disableControl]="recordService.getIteration() > 0"
                                                        [formControlName]="control.name">
                                                        <option *ngFor="let value of control?.values" [value]="value">
                                                            {{value}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </fieldset>
            </form>
        </div>
    </div>
    <div
        class="column is-full mt-0 has-text-centered is-italic is-size-7"
        *ngIf="handleJsonFormData().controls.length === 0">
        No Options Available
    </div>
    <div class="column is-full mt-2">
        <a class="button is-info border-radius-bottom is-fullwidth" (click)="navigateToLearn()">
            <b>LEARN MORE</b>
        </a>
    </div>
</div>
