.maze-button {
  border-radius: 4px 0 0 0;
}
.path-button {
  border-radius: 0 4px 0 0;
}

.button {
  border-radius: 0;
}

.algo-button{
  font-size: 0.8rem;
}

.start-icon {
  color: #00D1B2;
}

.goal-icon {
  color: #FF0000;
}
