<div
    class="columns is-multiline is-gapless is-centered is-flex-direction-column is-align-items-center is-justify-content-flex-start"
    style="height: 100%">
    <div class="column is-full">
        <app-hr text="ALGORITHM MODE"></app-hr>
    </div>
    <div class="columns column mb-0 is-multiline is-gapless is-full">
        <div class="column is-6 is-12-mobile">
            <button
                class="button algo-mode-button border-radius-top-left is-medium has-text-black is-fullwidth"
                data-testid="maze-mode"
                [ngClass]="this.algorithmService.getAlgorithmMode() === 'maze' ? 'has-background-primary' : 'has-background-primary-light'"
                (click)="handleWarning('maze')">
                <b>MAZE</b>
            </button>
        </div>
        <div class="column is-6">
            <button
                class="button algo-mode-button border-radius-top-right is-medium has-text-black' is-fullwidth"
                data-testid="pathfinding-mode"
                [ngClass]="algorithmService.getAlgorithmMode() === 'path-finding' ? 'has-background-danger' : 'has-background-danger-light'"
                (click)="handleWarning('path-finding')">
                <b>PATHFINDING</b>
            </button>
        </div>
    </div>
    @if (showWarning) {
    <div class="column is-full">
        <div class="is-warning-box has-background-warning p-2">
            <div class="columns is-multiline is-gapless">
                <div class="column is-full has-text-centered">
                    <b> {{ 'Doing this will partially reset the grid' | uppercase }} </b>
                </div>
                <div class="column is-full">
                    <div class="buttons is-centered">
                        <button
                            class="button danger-button is-small is-warning has-text-white"
                            data-testid="mode-continue"
                            title="continue"
                            (click)="switchAlgoMode()">
                            <span class="icon">
                                <fa-icon [icon]="['fas', 'check']"></fa-icon>
                            </span>
                            <span><b>Continue</b></span>
                        </button>
                        <button
                            class="button danger-button is-small is-warning has-text-white"
                            data-testid="mode-cancel"
                            (click)="showWarning = false">
                            <span class="icon">
                                <fa-icon [icon]="['fas', 'times']"></fa-icon>
                            </span>
                            <span><b>Cancel</b></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
    <div class="column is-full my-2" [@fadeAnimationSafe]="o.isActivated && o.activatedRoute">
        <router-outlet #o="outlet"></router-outlet>
    </div>

    <div class="column is-full">
        <p class="menu-label has-text-centered is-size-7 pb-0">
            <b>Algorithm Options</b>
        </p>
        @if (handleJsonFormData().controls.length > 0) {
        <div class="column is-full mt-0 pt-0" style="min-height: 0">
            <form [formGroup]="optionsForm">
                @for (control of handleJsonFormData()?.controls; track control) {
                <fieldset class="columns is-multiline is-gapless mb-0">
                    @if (control?.type === 'checkbox') {
                    <div class="column is-12 control">
                        <label class="checkbox">
                            <input type="checkbox" [formControlName]="control.name" [value]="control.value" />
                            {{ control.name }}
                        </label>
                    </div>
                    } @if (control?.type === 'radio') { @for (value of control?.values; track value) {
                    <div class="column is-12 control is-size-8">
                        <label class="radio">
                            <input
                                type="radio"
                                [class]="algorithmService.getAlgorithmMode() === 'maze' ? 'active-color-primary' : 'active-color-danger'"
                                appDisableControl
                                [disableControl]="recordService.getIteration() > 0"
                                [formControlName]="control.name"
                                [value]="value"
                                [checked]="value" />
                            {{ value }}
                        </label>
                    </div>
                    } } @if (control?.type === 'select') {
                    <div class="columns column is-full is-multiline field is-horizontal is-flex-direction-column">
                        <div class="options-size column is-full field-label has-text-centered is-normal p-0">
                            <label class="label">{{ control.name }}</label>
                        </div>
                        <div class="options-size column is-full is-justify-content-center field is-horizontal p-0">
                            <div class="select is-black">
                                <select
                                    class="has-text-weight-medium"
                                    appDisableControl
                                    [disableControl]="recordService.getIteration() > 0"
                                    [formControlName]="control.name">
                                    @for (value of control?.values; track value) {
                                    <option [value]="value">{{value}}</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    }
                </fieldset>
                }
            </form>
        </div>
        }
    </div>
    @if (handleJsonFormData().controls.length === 0) {
    <div class="column is-full mt-0 has-text-centered is-italic is-size-7">No Options Available</div>
    }
    <div class="column is-flex is-full is-flex-grow-1 is-justify-content-end is-flex-direction-column">
        <a
            class="button learn-button border-radius-bottom is-fullwidth"
            [ngClass]="algorithmService.getAlgorithmMode() === 'maze' ? 'is-primary' : 'is-danger'"
            data-testid="learn-more"
            (click)="navigateToLearn()">
            <b>LEARN MORE</b>
        </a>
    </div>
</div>
