<div class="columns is-multiline is-gapless">
  <div class="column is-12">
    <hr class="hr-text" data-content="Algorithm Selection">
  </div>
  <div class="column is-half">
    <button class="button maze-button is-primary is-outlined is-medium is-fullwidth">
      <b>M A Z E</b>
    </button>
  </div>
  <div class="column is-half">
    <button class="button path-button is-danger is-outlined is-medium is-fullwidth">
      <b>P A T H F I N D I N G</b>
    </button>
  </div>
  <div class="column is-full">
    <app-maze-settings></app-maze-settings>

  </div>
</div>
