@use 'bulma/bulma' as bulma;

.select-size {
    font-size: 0.85rem;
}

.algo-mode-button {
    border-style: solid;
    border-width: 2px;
    letter-spacing: 0.1rem;
}

.is-warning-box {
    border-radius: 0 0 8px 8px;
}

.danger-button {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.danger-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
.button {
    border-radius: 0;
}

.border-radius-top-left {
    border-radius: 4px 0 0 0 !important;
}

.border-radius-top-right {
    border-radius: 0 4px 0 0 !important;
}

.border-radius-bottom {
    border-radius: 0 0 4px 4px !important;
}

body.dark .container {
    background-color: bulma.$dark;
}

.radio {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    font-size: 0.85rem;
    font-weight: bold;
}

input[type="radio"]:disabled {
    filter: grayscale(100%);
    opacity: .4;
    pointer-events: none;
}

input[type="radio"] {
    appearance: none;
    margin: 0 0.5rem 0 0;
    font: inherit;
    color: #1a0707;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid bulma.$dark;
    border-radius: 50%;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
}

.active-color-primary {
    --input-color: #{bulma.$primary};
}

.active-color-danger {
    --input-color: #{bulma.$danger};
}


input[type="radio"]::before {
    --_test: var(--input-color);
    content: "";
    width: 0.65EM;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--_test);
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

select {
    font-size: 0.85rem;
    font-weight: bold;
}



