@charset "utf-8";

@use 'driver.js/dist/driver.css';
@use 'styles/bulma-variables';
@use 'styles/colors';
@use 'styles/dark-theme';
@use 'styles/driverjs';
@use 'styles/forms.scss';

// The CSS in this project here is quite messy
// but at least it looks kind of good - so there's that.

@font-face {
    font-family: 'Arial Fallback';
    src: local('Arial');
    ascent-override: 90.44%;
    descent-override: 22.52%;
    line-gap-override: 0%;
    size-adjust: 107.12%;
}

@font-face {
    font-family: 'Roboto Fallback';
    src: local('Roboto');
    font-size-adjust: 0.95;
    ascent-override: 90%;
    descent-override: 30%;
    line-gap-override: 5%;
}

@font-face {
    font-family: 'Serif Fallback';
    src: local('Serif');
    font-size-adjust: 0.94;
    ascent-override: 88%;
    descent-override: 32%;
    line-gap-override: 5%;
}

@font-face {
    font-family: 'Inter Variable';
    src: url('assets/fonts/subset-InterVariable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* poppins-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/poppins-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    // Bulma overwrites
    --bulma-family-primary: 'Inter';
    --bulma-family-secondary: 'Inter';
    --bulma-button-static-background-color: #f5f5f5;

    // Non-Bulma theming
    --dark-mode-shadow:
        inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
        /* shadow ring */ 0 0 0 1px hsla(0, 0%, 0%, 0.05),
        /* multiple soft shadows */ 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
        0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
    --background-color-light: #f5f5f5;
    --smooth-animation: cubic-bezier(0.62, 0.16, 0.13, 1.01);

    --algorithm-mode-color: var(--bulma-primary);

    // :focus-visible {
    //     transition:
    //         outline-width 200ms ease,
    //         outline-offset 200ms ease;
    //     z-index: 1;
    //     position: relative;
    // }
}

html,
body {
    font-family: 'Inter Variable', 'Arial Fallback', 'Robot Fallback', serif;
    background-attachment: fixed;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    min-height: 100dvh;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes blur-out {
    from {
        filter: none;
    }
    to {
        filter: blur(6px);
    }
}

@keyframes blur-in {
    from {
        filter: none;
    }
    to {
        filter: blur(4px);
    }
}

@keyframes slide-from-right {
    from {
        transform: translateX(50px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-from-left {
    from {
        transform: translateX(-50px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-to-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50px);
    }
}

@keyframes slide-to-right {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(50px);
    }
}

.no-root-view-transition {
    view-transition-name: none !important;
    transition: none !important;
}
.no-view-transition,
.no-view-transition * {
    view-transition-name: none;
}

.routeTransition {
    view-transition-name: routeTransition;
}

/* 1. Animation for the old content (fades out) */
::view-transition-old(routeTransition) {
    position: absolute;
    inset: 0;
    // width: 'calc(100% - 0.5rem)';

    animation: 225ms ease-out both fade-out;
}

::view-transition-new(routeTransition) {
    position: absolute;
    inset: 0;

    // width: 'calc(100% - 0.5rem)';

    animation: 225ms 225ms ease-in both fade-in;
}

.toMaze + * {
    view-transition-name: toMaze;
}
.toPath + * {
    view-transition-name: toPath;
}

::view-transition-old(toMaze) {
    animation:
        150ms var(--smooth-animation) both fade-out,
        300ms var(--smooth-animation) both slide-to-right;
}

::view-transition-new(toMaze) {
    animation:
        210ms var(--smooth-animation) 90ms both fade-in,
        300ms var(--smooth-animation) both slide-from-left;
}

::view-transition-old(toPath) {
    animation:
        150ms var(--smooth-animation) both fade-out,
        300ms var(--smooth-animation) both slide-to-left;
}

::view-transition-new(toPath) {
    animation:
        210ms var(--smooth-animation) 90ms both fade-in,
        300ms var(--smooth-animation) both slide-from-right;
}

::view ::view-transition-group(disableTransition),
::view-transition-old(disableTransition),
::view-transition-new(disableTransition) {
    animation: 0s !important;
    mix-blend-mode: normal;
}

.vr {
    display: inline-block;
    border-left: 1px solid #dbdbdb;
}

// Dark mode

body.theme-light {
    background-size: cover;
    background-image: linear-gradient(to top, #95918b 0%, #304352 100%);
}

body.theme-dark {
    background-image: linear-gradient(to top, #1f2229 0%, #304352 100%);
    color: var(--white-dark-87);
}

body.theme-light strong {
    color: var(--bulma-dark);
}

body.theme-light .box {
    background-color: var(--background-color-light);
}

body .subtitle,
body .title {
    color: var(--bulma-dark);
}

body.theme-dark .subtitle,
body.theme-dark .title,
body.theme-dark .heading,
body.theme-dark .content,
body.theme-dark .menu-label,
body.theme-dark .navbar-burger {
    color: var(--white-dark-87);
}

.button,
a {
    transition-property: unset;
    transition-duration: 0ms;
}

body.theme-dark .box:not(.custom-box) {
    box-shadow: var(--dark-mode-shadow);
}

body.theme-dark .button:not(.custom-button) {
    background-color: var(--bulma-grey-darker);
    color: var(--white-dark-78);
    outline: 1px solid;
}

body.theme-dark .button:not(.custom-button):hover {
    // color: var(--white-dark-60);
}

body.theme-dark .button:not(.custom-button):disabled,
body.theme-dark button:not(.custom-button)[disabled] {
    color: var(--bulma-white);
    background-color: var(--white-dark-38);
}

body.theme-dark .select select {
    background-color: var(--bulma-dark);
    color: var(--white-dark-87);
    outline: 1px solid;
}

//button:focus:hover {
//    outline: none;
//    box-shadow: none;
//}

.field-has-addons:active {
    outline: none;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    // height: 100vh;
    text-align: center;
}

body.theme-dark .box {
    background-color: var(--bulma-dark);
    color: var(--white-dark-87);
}

textarea:focus,
input:focus {
    outline: none;
}

*:focus {
    outline: none;
}

// Gets adjusted in the algorithm service (setAlgorithmMode()) whenever the algorithm mode changes.
::selection {
    background: var(--algorithm-mode-color);
}

@import 'styles/darcula.css';
