@charset "utf-8";
/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Libre+Baskerville');
@import "styles/bulma-variables";
@import "styles/colors";
@import "styles/components";
@import "styles/dark-theme";

html, body {
  background-image: linear-gradient(to bottom, #73c8a9, #373b44);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #000;
  font-family: "Dosis", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  height: 100%;
  // overflow: auto;
}

.vr {
  display: inline-block;
  border-left: 1px solid #DBDBDB;
}

.dark-theme {
  @include dark-theme;
}

@import '~bulma';
@import 'styles/darcula.css';

