.node {
  flex: 1;
  user-select: none;
  border-right: 1px solid #1a0707;
  border-bottom: 1px solid #1a0707;
  padding-bottom: 100%;
}

.node:hover {
  background-color: rgba(129, 128, 120, 0.6);
}

.wall {
  background-color: #818078 !important;
}
