@use './src/styles/colors';
@import '~bulma/bulma';

.node {
  display: flex;
  position: relative;
  flex: 1;
  user-select: none;
  border-right: 1px solid #1a0707;
  border-bottom: 1px solid #1a0707;
  padding-bottom: 100%;
  text-align: justify;
  background-color: $white;
}

.node:before {
  display: flex;
  content: attr(text);
  position: absolute;
  color: #000;
  height: 100%;
  width: 100%;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.node:hover {
  background-color: rgba(129, 128, 120, 0.6);
}

.status-1 {
  background-color: $grey-dark;
  // background-color: #3c4353;
}

.start:hover {
  background-color: fade-out($primary, 0.4);
}

.goal:hover {
  background-color: fade-out($danger, 0.4);
}

.status-4 {
  background-color: colors.$node-4;
  // background-color: #f99a6d;
}

.status-5 {
  background-color: colors.$node-5;
}

.status-6 {
  background-color: colors.$node-6;
}

.status-7 {
  background-color: colors.$node-7;
}

.status-8 {
  background-color: colors.$node-8;
}




