.subtitle {
    color: grey;
}

.simple-border-right {
    border-right: 1px solid #818078;
    background-color: transparent;
}

.simple-border-bottom {
    border-bottom: 1px solid #818078;
}

.simple-border-left {
    border-left: 1px solid #818078;
}

.no-border {
    border-bottom-style: none;
}
