<div class="columns">
    <div class="column is-7 border simple-border-right">
        <div class="columns is-multiline is-gapless">
            <div class="column">
                <h2 class="subtitle">
                    <span class="icon">
                        <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
                    </span>
                    <b>Prim's Algorithm</b>
                </h2>
            </div>
            <div class="column is-full">
                <div class="content">Hello I am Prims.</div>
            </div>
        </div>
    </div>
    <div class="is-5">
        <div class="columns is-multiline p-2 is-gapless">
            <div class="column is-full has-text-centered">
                <app-hr text="ADDITIONAL RESOURCES"></app-hr>
            </div>
            <div class="column is-full">
                <div class="columns is-multiline is-gapless">
                    <div class="column is-full">
                        <a
                            class="tag is-danger is-light"
                            href="https://github.com/Ijee/Amazeing/blob/main/src/app/%40core/algorithm/maze/creation/prims.ts"
                            target="_blank"
                            rel="noopener">
                            <span class="icon">
                                <fa-icon [icon]="['fab', 'github']"></fa-icon>
                            </span>
                            <span>
                                <b>Project implementation</b>
                            </span>
                        </a>
                    </div>
                    <div class="column is-full">
                        <a class="tag is-info is-light" href="https://en.wikipedia.org/wiki/Prim%27s_algorithm" target="_blank" rel="noopener">
                            <span class="icon">
                                <fa-icon [icon]="['fas', 'external-link-alt']"></fa-icon>
                            </span>
                            <span>
                                <b>Wikipedia - Prim's Algorithm</b>
                            </span>
                        </a>
                    </div>
                    <div class="column is-full">
                        <a
                            class="tag is-info is-light"
                            href="https://weblog.jamisbuck.org/2011/1/10/maze-generation-prim-s-algorithm"
                            target="_blank"
                            rel="noopener">
                            <span class="icon">
                                <fa-icon [icon]="['fas', 'external-link-alt']"></fa-icon>
                            </span>
                            <span>
                                <b>The Buckblog - Prim's Algorithm</b>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="column is-full has-text-centered">
                <app-hr text="PSEUDOCODE"></app-hr>
            </div>
            <div class="column"></div>
        </div>
    </div>
</div>
