.subtitle {
    color: grey;
}

.simple-border-right {
    border-right: 2px solid #dbdbdb;
}

.simple-border-bottom {
    border-bottom: 1px solid #dbdbdb;
}

.simple-border-left {
    border-left: 1px solid #dbdbdb;
}

.no-border {
    border-bottom-style: none;
}
